@charset "UTF-8";
.swiper-button-prev:after,
.swiper-button-next:after {
  color: #ffffff;
  font-size: 30px; }

.swiper-pagination-bullet-active {
  background-color: #b68c37 !important; }

body {
  overflow-x: hidden; }

.no-scroll {
  overflow: hidden; }

hr {
  color: #bababa;
  background-color: #bababa; }

* {
  font-family: 'Montserrat', sans-serif;
  color: #2e2e2e;
  box-sizing: border-box; }

div,
p,
span {
  font-size: 16px;
  line-height: 26px; }
  @media (max-width: 767px) {
    div,
    p,
    span {
      font-size: 14px;
      line-height: 24px; } }

input {
  box-shadow: none; }

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid #8d8d8d; }

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #b68c37; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.label-text {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  cursor: pointer; }

a:focus,
span:focus,
div:focus,
section:focus,
input:focus,
button:focus,
textarea:focus,
form:focus {
  text-decoration: none;
  outline: none; }
a:active,
span:active,
div:active,
section:active,
input:active,
button:active,
textarea:active,
form:active {
  text-decoration: none;
  outline: none; }

.shadow {
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2); }

.event-shadow {
  transition: all .3s ease-in-out; }
  .event-shadow:hover {
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2); }

@media (max-width: 767px) {
  .visible-sm {
    display: flex !important; } }

@media (max-width: 767px) {
  .hidden-sm {
    display: none !important; } }

.breadcrumbs {
  color: #ffffff; }
  @media (max-width: 767px) {
    .breadcrumbs {
      text-align: center; } }
  .breadcrumbs a {
    color: inherit;
    font-size: 14px;
    line-height: 36px; }

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 50px;
  min-height: 50px;
  padding: 0 15px;
  border: none;
  background-color: #b68c37;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: all .3s ease-in-out;
  white-space: nowrap; }
  .button:hover {
    background-color: #8f6e2b; }
  .button img {
    height: 35px;
    margin-right: 10px; }

.button-center {
  display: flex;
  justify-content: center; }

.button-inverse {
  color: #b68c37;
  background: #ffffff;
  transition: all .3s ease-in-out;
  white-space: nowrap; }
  .button-inverse:hover {
    background-color: #e6e6e6; }

.button-inverse-border {
  border: 1px solid #b68c37; }

.underline {
  position: relative;
  margin-bottom: 25px; }
  .underline:after {
    content: '';
    background: #b68c37;
    height: 2px;
    width: 40px;
    position: absolute;
    left: 24px;
    bottom: 0;
    transform: translate(-50%, 0); }
    @media (max-width: 767px) {
      .underline:after {
        left: 50%;
        transform: translate(-50%, 0); } }
  .underline.underline-center:after {
    left: 50%;
    transform: translate(-50%, 0); }

.underline-white {
  position: relative;
  margin-bottom: 25px; }
  .underline-white:after {
    content: '';
    background: #ffffff;
    height: 2px;
    width: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0); }

.underline-left-yellow {
  position: relative;
  margin-bottom: 25px; }
  .underline-left-yellow:after {
    content: '';
    background: #b68c37;
    height: 2px;
    width: 40px;
    position: absolute;
    left: 20px;
    bottom: 0;
    transform: translate(-50%, 0); }
    @media (max-width: 767px) {
      .underline-left-yellow:after {
        left: 50%;
        transform: translateX(-50%); } }

.underline-left-white {
  position: relative;
  margin-bottom: 25px; }
  .underline-left-white:after {
    content: '';
    background: #ffffff;
    height: 2px;
    width: 40px;
    position: absolute;
    left: 20px;
    bottom: 0;
    transform: translate(-50%, 0); }
    @media (max-width: 991px) {
      .underline-left-white:after {
        left: 50%;
        transform: translate(-50%, -50%); } }

.underline-white-transparent {
  position: relative;
  margin-bottom: 25px; }
  .underline-white-transparent:after {
    content: '';
    background: rgba(255, 255, 255, 0.5); }
    @media (max-width: 767px) {
      .underline-white-transparent:after {
        left: 50%;
        transform: translate(-50%, -50%); } }

.divider {
  height: 2px;
  width: 40px;
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .divider {
      display: none; } }

.divider-yellow {
  background-color: #b68c37; }

.link {
  color: #b68c37;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif; }

.link-thin {
  color: #b68c37;
  font-size: 16px;
  text-decoration: underline; }

.date {
  display: inline-block;
  background: #b68c37;
  color: #ffffff;
  padding: 5px;
  font-weight: bold; }

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative; }
  @media (max-width: 767px) {
    .container {
      width: 75%; } }

.light-grey-section {
  background-color: #eeeeee; }

.title {
  font-size: 60px;
  line-height: 70px;
  width: 100%;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 15px; }
  @media (max-width: 767px) {
    .title {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: center; } }

.title-center {
  text-align: center; }

.title-white {
  color: #ffffff; }

.title-info-section {
  font-size: 72px;
  line-height: 82px;
  width: 100%;
  font-family: 'Amatic SC', cursive;
  margin-bottom: 26px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 15px; }
  @media (max-width: 991px) {
    .title-info-section {
      font-size: 36px;
      line-height: 46px; } }
  @media (max-width: 767px) {
    .title-info-section {
      text-align: center;
      margin-bottom: 0; } }

.no-wrap {
  flex-wrap: nowrap; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px; } }
@media (max-width: 991px) {
  .hidden-md {
    display: none !important; } }
header {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-content: center;
  justify-content: center; }
  @media (min-width: 1200px) {
    header {
      min-height: 135px; }
      header:before {
        content: '';
        position: absolute;
        left: 0;
        top: 57%;
        width: 45%;
        height: 1px;
        background: rgba(255, 255, 255, 0.5); }
      header:after {
        content: '';
        position: absolute;
        right: 0;
        top: 57%;
        width: 45%;
        height: 1px;
        background: rgba(255, 255, 255, 0.5); } }
  header .header-icon {
    height: 20px;
    margin-right: 17px;
    display: inline-block; }

.cart-full {
  position: relative; }
  .cart-full .cart-count {
    position: absolute;
    left: 10px;
    top: -10px;
    background-color: #ffffff;
    padding: 2px;
    border-radius: 50%;
    color: #000000;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center; }

.header-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px; }
  @media (min-width: 1200px) {
    .header-mobile {
      display: none; } }
  .header-mobile .header-mobile-item {
    width: 33%; }
  .header-mobile .logo-mobile {
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-mobile .logo-mobile img {
      max-width: 100%;
      max-height: 60px; }
  .header-mobile .burger-menu .burger-button {
    position: relative;
    z-index: 50001;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 30px;
    cursor: pointer; }
    .header-mobile .burger-menu .burger-button span {
      position: absolute;
      left: 0;
      visibility: visible;
      opacity: 1;
      width: 100%;
      height: 5px;
      background-color: #ffffff;
      border-radius: 3px;
      transition: all .3s ease-in-out; }
      .header-mobile .burger-menu .burger-button span:nth-of-type(1) {
        top: 0;
        transform-origin: -10% 10%; }
      .header-mobile .burger-menu .burger-button span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%); }
      .header-mobile .burger-menu .burger-button span:nth-of-type(3) {
        bottom: 0; }
  .header-mobile .mobile-header-links {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .header-mobile .mobile-header-links a {
      margin: 0 15px 0 0; }
      .header-mobile .mobile-header-links a:last-child {
        margin: 0; }
      .header-mobile .mobile-header-links a img {
        width: 25px;
        max-height: 30px; }

.burger-menu-layer {
  position: absolute;
  width: 100%;
  top: 100px;
  z-index: 50005;
  background: rgba(0, 0, 0, 0.8);
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  padding: 24px 0; }
  .burger-menu-layer.active {
    opacity: 1;
    visibility: visible; }

.burder-menu-layer-list {
  display: flex;
  align-items: center;
  height: 100%; }
  .burder-menu-layer-list a {
    display: block;
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s ease-in-out; }
    .burder-menu-layer-list a.active {
      color: #b68c37; }
    .burder-menu-layer-list a:hover {
      color: #b68c37; }

@media (max-width: 1199px) {
  .header-desktop {
    display: none; } }
.header-upper,
.header-lower {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  min-height: 80px; }

.header-lower {
  min-height: 55px; }

.header-upper-info {
  display: flex;
  align-items: center; }

.header-uppder-info-item {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 20px; }
  .header-uppder-info-item:last-child {
    margin-right: 0; }
  .header-uppder-info-item span,
  .header-uppder-info-item a {
    color: inherit;
    font-size: 16px; }

.header-uppder-info-item-links {
  margin-right: 15px; }
  .header-uppder-info-item-links img {
    height: 20px; }
  .header-uppder-info-item-links:last-child {
    margin-right: 0; }
    .header-uppder-info-item-links:last-child .header-icon {
      margin-right: 0 !important; }

.header-lower-info {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.header-lower-info-menu-item {
  color: inherit;
  font-weight: bold;
  font-size: 15px;
  margin-right: 12px;
  transition: all .3s ease-in-out; }
  .header-lower-info-menu-item:last-child {
    margin-right: 0; }
  .header-lower-info-menu-item:hover {
    text-decoration: underline; }

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.header-info-section {
  position: relative;
  margin-bottom: 80px; }
  .header-info-section.header-contancts {
    margin-bottom: 0; }
  @media (max-width: 767px) {
    .header-info-section {
      margin-bottom: 30px; }
      .header-info-section.header-contancts {
        margin-bottom: 0; } }

.regged-divider-top {
  position: relative; }
  .regged-divider-top:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 50000;
    width: 100%;
    height: 80px;
    background: url("../img/divider-white.png");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (max-width: 767px) {
      .regged-divider-top:before {
        top: -15px;
        display: none; } }
  .regged-divider-top.regged-divider-top-reverse:before {
    transform: rotate(180deg); }

.regged-divider-bottom {
  position: relative; }
  .regged-divider-bottom:after {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 50000;
    width: 100%;
    height: 80px;
    background-image: url("../img/divider-white.png");
    background-repeat: no-repeat;
    background-size: cover; }
    @media (max-width: 1199px) {
      .regged-divider-bottom:after {
        height: 68px; } }
    @media (max-width: 991px) {
      .regged-divider-bottom:after {
        height: 41px;
        bottom: -12px; } }
    @media (max-width: 767px) {
      .regged-divider-bottom:after {
        display: none; } }
  .regged-divider-bottom.regged-divider-bottom-reverse:after {
    transform: rotate(180deg); }
  .regged-divider-bottom.regged-divider-bottom-grey:after {
    background-image: url("../img/divider-grey.png");
    transform: rotate(180deg); }

.main-slider {
  min-height: 890px; }
  @media (max-width: 767px) {
    .main-slider {
      min-height: 735px; } }
  .main-slider .swiper-slide {
    position: relative;
    height: 100%;
    min-height: 890px;
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x; }
    .main-slider .swiper-slide .swiper-slide-content {
      color: #ffffff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
    @media (max-width: 767px) {
      .main-slider .swiper-slide {
        min-height: 735px; } }
  .main-slider .swiper-pagination-fraction,
  .main-slider .swiper-pagination-custom,
  .main-slider .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 150px; }
  .main-slider .swiper-button-prev:after,
  .main-slider .swiper-button-next:after {
    color: #ffffff;
    font-size: 30px;
    padding: 15px 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5); }

.category-slider-container {
  position: absolute;
  left: 0;
  bottom: 75px;
  width: 100%;
  height: 350px;
  overflow: hidden;
  z-index: 5000; }
  .category-slider-container .main-slider-pagination {
    position: absolute;
    top: -82px;
    width: 100%;
    height: 50px;
    z-index: 500000;
    display: flex;
    justify-content: center;
    align-items: center; }
  @media (max-width: 992px) {
    .category-slider-container {
      width: 90%;
      left: 50%;
      transform: translateX(-50%); } }
  @media (max-width: 767px) {
    .category-slider-container {
      bottom: 100px;
      height: 70px; } }

.category-slider {
  position: absolute;
  padding: 15px 0;
  bottom: 0;
  z-index: 5000;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }
  .category-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    .category-slider .swiper-slide a {
      display: flex;
      justify-content: center;
      align-content: center; }
  .category-slider .swiper-button-next {
    right: 0; }
  .category-slider .swiper-button-prev {
    left: 0; }
  .category-slider .slide-category-info {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -80px;
    left: 50px;
    min-width: 250px;
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: all .3s ease-in-out; }
    @media (min-width: 992px) {
      .category-slider .slide-category-info.showInfo {
        visibility: visible;
        opacity: 1; }
      .category-slider .slide-category-info:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -28px;
        width: 0;
        height: 0;
        border: 40px solid transparent;
        border-top: 0px solid transparent;
        border-right: 0px solid transparent;
        border-left: 28px solid #ffffff; } }
  .category-slider .swiper-button-next,
  .category-slider .swiper-button-prev {
    color: #ffffff; }
    .category-slider .swiper-button-next:after,
    .category-slider .swiper-button-prev:after {
      font-size: 18px; }

.participants {
  z-index: 100;
  position: relative;
  top: -70px;
  width: 100%;
  overflow: hidden; }
  @media (max-width: 991px) {
    .participants {
      display: none; } }
  .participants .participants-slider-info {
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    transition-delay: .3s; }

.my-fr-current .participants-slider-info {
  visibility: visible;
  opacity: 1; }

.participants-slider-info {
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 17px 63px 20px;
  width: 90%; }
  .participants-slider-info .participants-slider-info-title {
    font-size: 36px;
    line-height: 41px;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center; }
  .participants-slider-info .participants-slider-info-description {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center; }

.participants-mobile-slider {
  height: 580px;
  width: 100%;
  overflow: hidden;
  margin-top: -70px;
  margin-bottom: -30px; }
  .participants-mobile-slider .swipe-slide {
    display: flex;
    justify-content: center;
    align-items: center; }
  .participants-mobile-slider .swiper-button-prev:after,
  .participants-mobile-slider .swiper-button-next:after {
    color: #ffffff;
    font-size: 30px;
    padding: 15px 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5); }
  .participants-mobile-slider .participants-slider-info {
    bottom: 20%;
    width: 70%; }
  @media (min-width: 992px) {
    .participants-mobile-slider {
      display: none; } }

.slider-content {
  position: relative; }
  .slider-content .slider-item-content {
    display: none; }
    .slider-content .slider-item-content.activeContent {
      display: block; }
  .slider-content .slider-item {
    position: absolute;
    z-index: 50;
    transition: all 1s ease-in-out; }
    .slider-content .slider-item.activeItem {
      z-index: 500; }

.swiper-slide-content {
  margin: auto;
  color: #ffffff; }
  .swiper-slide-content div {
    color: inherit;
    text-align: center; }
  .swiper-slide-content .slogan-upper {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center; }
  .swiper-slide-content .slogan {
    font-size: 173px;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin: 95px 0 80px; }
  .swiper-slide-content .slogan-description {
    font-size: 24px;
    line-height: 36px;
    width: 430px;
    margin: 0 auto;
    text-align: center; }
  @media (max-width: 991px) {
    .swiper-slide-content .slogan-upper {
      font-size: 30px; }
    .swiper-slide-content .slogan {
      font-size: 110px;
      margin: 62px 0 50px; }
    .swiper-slide-content .slogan-description {
      font-size: 20px; } }
  @media (max-width: 767px) {
    .swiper-slide-content .slogan-upper {
      font-size: 20px; }
    .swiper-slide-content .slogan {
      font-size: 70px;
      margin: 40px 0 40px; }
    .swiper-slide-content .slogan-description {
      width: 80%;
      font-size: 15px;
      line-height: 20px; } }

.information-block {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 20px 0 75px; }
  @media (max-width: 991px) {
    .information-block {
      padding: 70px 0;
      flex-wrap: wrap;
      justify-content: center; } }
  .information-block .information-block-section {
    width: 100%; }
    .information-block .information-block-section > img {
      width: 100%;
      max-width: 100%; }
    .information-block .information-block-section:first-child {
      margin-right: 35px; }
      @media (max-width: 991px) {
        .information-block .information-block-section:first-child {
          margin: 0 0 25px 0; } }
  .information-block .infomation-block-title {
    text-align: left; }
  .information-block .infomation-block-caption {
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: bold;
    color: #b68c37; }
  .information-block .information-block-content {
    font-size: 16px;
    line-height: 24px; }

.advantages {
  background: url("../img/pattern-divider.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0 125px;
  position: relative;
  z-index: 5000; }

.advantages-content {
  display: flex;
  margin-left: -2%;
  margin-right: -2%; }
  @media (max-width: 1199px) {
    .advantages-content {
      flex-wrap: wrap; } }
  @media (max-width: 767px) {
    .advantages-content {
      justify-content: center; } }

.advantages-content-item {
  flex-shrink: 0;
  flex-grow: 0;
  background: #ffffff;
  width: 23.5%;
  margin: 0 1%;
  transition: all .3s ease-in-out; }
  .advantages-content-item:hover {
    transform: scale(1.01); }
  .advantages-content-item:last-child {
    margin-right: 0; }
  .advantages-content-item.single-img {
    padding: 15px 15px 26px; }
  .advantages-content-item.no-img {
    padding-top: 260px;
    background-position: center;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      .advantages-content-item.no-img {
        padding-top: 215px;
        background-position: top;
        min-height: 290px; } }
  @media (max-width: 1199px) {
    .advantages-content-item {
      width: 48%;
      margin-bottom: 15px; } }
  @media (max-width: 767px) {
    .advantages-content-item {
      height: auto;
      width: 100%; } }
  .advantages-content-item .img-block {
    margin: 0 auto 20px;
    text-align: center;
    height: 225px; }
    @media (max-width: 767px) {
      .advantages-content-item .img-block {
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center; } }
    .advantages-content-item .img-block img {
      max-width: 100%;
      max-height: 100%; }
  .advantages-content-item .advantages-content-item-title {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bolder;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center; }
    @media (max-width: 767px) {
      .advantages-content-item .advantages-content-item-title {
        width: 95%;
        font-size: 14px;
        line-height: 24px;
        word-wrap: break-word;
        font-family: 'Montserrat', sans-serif; } }

.purchases {
  background: url("../img/review_bg_1.png");
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 70px 0 90px;
  position: relative; }
  .purchases:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22.5%;
    height: 100%;
    background-image: url("../img/phone-left.png");
    background-position: right center;
    background-repeat: no-repeat; }
    @media (min-width: 992px) {
      .purchases:before {
        display: none; } }
  .purchases:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 22.5%;
    height: 100%;
    background-image: url("../img/phone-right.png");
    background-position: right center;
    background-repeat: no-repeat; }
    @media (min-width: 992px) {
      .purchases:after {
        display: none; } }
  .purchases .container {
    width: 55%; }
    @media (max-width: 991px) {
      .purchases .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; } }

.purchases-content {
  display: flex; }
  @media (max-width: 991px) {
    .purchases-content {
      flex-wrap: wrap; } }

.purchases-content-item:first-child {
  display: flex;
  align-items: center; }
  @media (max-width: 991px) {
    .purchases-content-item:first-child {
      display: none; } }
.purchases-content-item:last-child {
  flex-shrink: 0; }
  @media (max-width: 991px) {
    .purchases-content-item:last-child {
      flex-shrink: 1; } }
.purchases-content-item > img {
  max-width: 100%; }

.purchases-content-item-list {
  padding-top: 40px;
  margin-bottom: 40px; }

.purchases-content-item-list--item img {
  margin-right: 10px;
  max-width: 100%; }
.purchases-content-item-list--item span {
  font-size: 16px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 400; }

.benefits {
  background: #b68c37;
  padding: 70px 0; }
  .benefits .benefit-content {
    display: flex; }
  .benefits .benefit-content-item {
    position: relative; }
    .benefits .benefit-content-item .floating-image {
      position: absolute;
      bottom: -60px;
      left: -187px; }
  .benefits .benefit-content-item--text {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px; }
    .benefits .benefit-content-item--text p {
      color: inherit; }
  .benefits .benefit-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 991px) {
      .benefits .benefit-img {
        display: none; } }
    .benefits .benefit-img img {
      max-width: 100%;
      width: 100%; }
  @media (max-width: 767px) {
    .benefits .button {
      width: 100%; } }

.compressed-text {
  width: 65%; }
  @media (max-width: 767px) {
    .compressed-text {
      width: 100%; } }

.news {
  padding: 0 0 75px; }

.events {
  padding: 75px 0 0;
  margin-bottom: 110px; }

.event {
  display: flex;
  margin-bottom: 25px;
  padding-bottom: 50px; }
  @media (max-width: 767px) {
    .event {
      padding-bottom: 25px; } }
  .event .date {
    margin-bottom: 17px; }
  @media (max-width: 767px) {
    .event .event-content {
      padding-bottom: 25px; } }
  .event .event-img {
    margin-right: 30px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    width: 50%; }
    .event .event-img img {
      width: 100%;
      max-width: 100%; }
    .event .event-img.stock:after {
      content: 'Акция';
      position: absolute;
      left: 0;
      top: 0;
      height: 64px;
      width: 128px;
      background-color: red;
      color: #ffffff;
      transform: translateX(-50%) rotate(-45deg);
      transform-origin: 50% 0%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 18px; }
      @media (max-width: 767px) {
        .event .event-img.stock:after {
          left: -11px;
          top: -11px;
          font-size: 10px; } }
  .event .event-title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 17px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; }
  .event .event-text {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 17px; }
    @media (max-width: 767px) {
      .event .event-text {
        height: 122px;
        overflow: hidden; } }
  @media (max-width: 991px) {
    .event {
      flex-wrap: wrap; }
      .event .event-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px; }
        .event .event-img img {
          width: 100%; } }

.news-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%; }
  .news-list .single-news {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 47px; }
    @media (max-width: 767px) {
      .news-list .single-news {
        width: 100%; } }
    .news-list .single-news .single-news-img img {
      width: 100%; }
    .news-list .single-news .single-news-content {
      padding: 11px 20px 20px; }
      .news-list .single-news .single-news-content .single-news-content-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 17px; }
        @media (max-width: 991px) {
          .news-list .single-news .single-news-content .single-news-content-title {
            flex-wrap: wrap; } }
      @media (max-width: 991px) {
        .news-list .single-news .single-news-content .news-name {
          width: 100%;
          margin-bottom: 10px; } }
      .news-list .single-news .single-news-content .single-news-text {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 10px; }

.pagination {
  margin: 0 auto;
  display: flex;
  justify-content: center; }
  .pagination a {
    background: #b68c37;
    color: #ffffff;
    padding: 2px 12px;
    margin: 0 5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center; }

.feedback {
  min-height: 715px;
  display: flex; }
  @media (max-width: 991px) {
    .feedback {
      flex-wrap: wrap; } }
  .feedback .feedback-section {
    min-height: 780px;
    width: 50%; }
    @media (max-width: 991px) {
      .feedback .feedback-section {
        min-height: auto; } }
    .feedback .feedback-section:first-child {
      background: url("../img/form-img.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
      @media (max-width: 991px) {
        .feedback .feedback-section:first-child {
          min-height: 550px; } }
      @media (max-width: 767px) {
        .feedback .feedback-section:first-child {
          min-height: 450px; } }
    @media (max-width: 991px) {
      .feedback .feedback-section {
        width: 100%; } }

.feedback-bg {
  background: url("../img/form-bg.png") no-repeat right bottom, #b68c37; }
  @media (max-width: 767px) {
    .feedback-bg {
      background: #b68c37; } }
  .feedback-bg input[type='number'],
  .feedback-bg input[type='text'],
  .feedback-bg input[type='email'] {
    color: #ffffff; }
  .feedback-bg input[type="number"]::-webkit-input-placeholder {
    color: #ffffff; }
  .feedback-bg input[type="number"]:-ms-input-placeholder {
    color: #ffffff; }
  .feedback-bg input[type="number"]::-ms-input-placeholder {
    color: #ffffff; }
  .feedback-bg input[type="number"]::placeholder {
    color: #ffffff; }
  .feedback-bg input[type="text"]::-webkit-input-placeholder {
    color: #ffffff; }
  .feedback-bg input[type="text"]:-ms-input-placeholder {
    color: #ffffff; }
  .feedback-bg input[type="text"]::-ms-input-placeholder {
    color: #ffffff; }
  .feedback-bg input[type="text"]::placeholder {
    color: #ffffff; }
  .feedback-bg input[type="email"]::-moz-placeholder {
    color: #ffffff;
    /* Цвет подсказывающего текста */ }
  .feedback-bg input[type="email"]::-webkit-input-placeholder {
    color: #ffffff; }
  .feedback-bg input[type="email"]:-ms-input-placeholder {
    color: #ffffff; }
  .feedback-bg input[type="email"]::-ms-input-placeholder {
    color: #ffffff; }
  .feedback-bg input[type="email"]::placeholder {
    color: #ffffff; }

.feedback-section-content {
  padding: 100px 30px 120px;
  color: white; }
  @media (max-width: 767px) {
    .feedback-section-content {
      padding: 50px 25px 70px; } }
  .feedback-section-content .title {
    max-width: 49%; }
    @media (max-width: 991px) {
      .feedback-section-content .title {
        max-width: 100%;
        text-align: center; } }

.form-caption {
  color: inherit;
  font-size: 18px;
  line-height: 24px;
  width: 70%;
  margin-bottom: 15px; }
  @media (max-width: 991px) {
    .form-caption {
      width: 100%; } }

.form {
  margin-bottom: 15px;
  width: 100%; }
  @media (min-width: 992px) {
    .form {
      width: 360px; } }
  .form form {
    width: 100%; }
  .form input {
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 0.5);
    height: 50px;
    padding: 0 15px;
    display: block;
    margin-bottom: 15px;
    width: 100%; }
  .form button {
    width: 100%; }

.form-bottom-text {
  font-size: 14px;
  line-height: 24px;
  color: inherit; }

.common-information {
  padding-top: 70px;
  padding-bottom: 70px; }

.common-information-section-content p, .common-information-section-content div {
  font-size: 16px;
  line-height: 24px; }

.common-information-section--img {
  float: left;
  margin-right: 30px; }
  .common-information-section--img img {
    max-width: 100%; }
  @media (max-width: 767px) {
    .common-information-section--img img {
      width: 100%; } }

@media (max-width: 991px) {
  .common-information {
    flex-wrap: wrap; }

  .common-information-section--img {
    width: 100%;
    margin: 0 0 15px 0; } }
.prefooter {
  padding-bottom: 50px; }

footer {
  position: relative;
  z-index: 5000;
  color: #ffffff;
  margin-top: -50px; }
  footer span {
    color: #ffffff; }
  footer .container {
    display: flex;
    align-items: center; }

.footer-upper {
  background: url("../img/footer.png") no-repeat center;
  background-size: cover;
  padding-top: 100px; }
  @media (max-width: 991px) {
    .footer-upper {
      background: url("../img/footer-top-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover; } }
  .footer-upper .container {
    display: flex; }
    @media (max-width: 991px) {
      .footer-upper .container {
        flex-wrap: wrap; } }
  .footer-upper .logo-footer {
    margin-bottom: 27px; }
    @media (max-width: 991px) {
      .footer-upper .logo-footer {
        display: flex;
        justify-content: center; } }
  .footer-upper .footer-upper-section-contact-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 34px; }
    .footer-upper .footer-upper-section-contact-info-item:last-child {
      margin-bottom: 0; }
    .footer-upper .footer-upper-section-contact-info-item img {
      width: 25px; }
  .footer-upper .footer-upper-section-contact-info-item-img {
    width: 35px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer-upper .footer-upper-section-contact-info-item-img img {
      max-width: 100%;
      max-height: 30px; }

.footer-site-categories a {
  font-size: 16px;
  margin-bottom: 27px;
  text-transform: uppercase;
  display: block; }
  .footer-site-categories a:last-child {
    margin-bottom: 0; }

.footer-upper-section {
  width: 20%;
  color: #ffffff;
  margin-right: 78px;
  flex-shrink: 0; }
  .footer-upper-section:last-child {
    margin-right: 0; }
  .footer-upper-section:last-child {
    flex-grow: 1;
    align-self: flex-start; }
  @media (max-width: 991px) {
    .footer-upper-section {
      width: 100%;
      margin-bottom: 25px; } }
  .footer-upper-section a {
    color: inherit; }

@media (max-width: 991px) {
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center; } }
.social-links a {
  height: 37px;
  width: 37px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; }
  .social-links a:last-child {
    margin-right: 0; }
  .social-links a img {
    height: 90%; }

.footer-lower-links {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  margin-top: 25px; }
  @media (max-width: 991px) {
    .footer-lower-links {
      margin-top: 0; } }
  .footer-lower-links a {
    color: #ffffff;
    text-decoration: underline;
    margin: 0 35px; }
    @media (max-width: 991px) {
      .footer-lower-links a {
        text-align: center;
        margin: 0 0 15px; } }

.footer-lower {
  color: #ffffff;
  background: #000000;
  padding: 10px 0; }
  @media (max-width: 991px) {
    .footer-lower {
      padding: 0 15px 55px; } }
  @media (max-width: 767px) {
    .footer-lower {
      padding: 15px; } }
  .footer-lower div {
    color: inherit;
    font-size: 14px;
    line-height: 24px;
    text-align: center; }

.header-info-section-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px; }
  .header-info-section-background:before {
    content: '';
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  @media (max-width: 767px) {
    .header-info-section-background {
      min-height: 306px; } }
  .header-info-section-background .container {
    color: #ffffff;
    z-index: 5000; }

.outlets {
  background-image: url("../img/lavki-bg.jpg"); }

.renters {
  background-image: url("../img/field.jpg"); }

.renters-page-content {
  padding-bottom: 50px; }

.renters-slider {
  width: 550px;
  height: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px; }
  .renters-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #b68c37; }
  .renters-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center; }
    .renters-slider .swiper-slide img {
      max-width: 100%; }
  @media (max-width: 991px) {
    .renters-slider {
      width: 100%;
      margin: 0 0 20px 0; } }

.public-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .public-title {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 15px; }
      .public-title:after {
        display: none; } }

.public-content {
  font-size: 16px;
  line-height: 26px; }
  @media (max-width: 767px) {
    .public-content {
      font-size: 14px;
      line-height: 24px; } }

.page-content {
  display: flex;
  margin-bottom: 60px; }
  @media (max-width: 991px) {
    .page-content {
      flex-wrap: wrap; } }
  .page-content .page-content-section-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 16px; }
    @media (max-width: 767px) {
      .page-content .page-content-section-title {
        text-align: center; } }
  .page-content .item-img {
    position: relative; }
    .page-content .item-img .options {
      position: absolute;
      right: 18px;
      top: 18px;
      width: 25px; }
      .page-content .item-img .options a {
        max-width: 100%; }

@media (max-width: 767px) {
  .page-content-single-product {
    margin-bottom: 150px; } }

.page-content-section-left {
  width: 175px;
  flex-shrink: 0;
  padding-right: 25px; }
  @media (max-width: 991px) {
    .page-content-section-left {
      width: 100%;
      margin-bottom: 60px; } }
  .page-content-section-left .page-content-section-links ul {
    padding: 0 10px 0 0;
    list-style: none; }
    .page-content-section-left .page-content-section-links ul li {
      position: relative;
      padding-left: 15px;
      margin-bottom: 10px; }
      .page-content-section-left .page-content-section-links ul li:before {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #b68c37; }
      .page-content-section-left .page-content-section-links ul li a {
        font-size: 16px;
        transition: all .3s ease-in-out;
        word-wrap: break-word; }
        .page-content-section-left .page-content-section-links ul li a.active {
          color: #b68c37; }
        .page-content-section-left .page-content-section-links ul li a:hover {
          color: #b68c37; }

.page-content-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%; }
  .page-content-list .item {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 47px; }
    .page-content-list .item:hover .item-img img {
      transform: scale(1.1); }
    @media (max-width: 767px) {
      .page-content-list .item {
        width: 100%; } }
    .page-content-list .item .item-img {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center; }
      .page-content-list .item .item-img img {
        transition: all .3s ease-in-out;
        width: 100%; }
    .page-content-list .item .item-content {
      padding: 20px 10px; }
      .page-content-list .item .item-content .item-content-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 14px;
        font-weight: bolder; }
      .page-content-list .item .item-content .item-text {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 10px; }
    @media (max-width: 767px) {
      .page-content-list .item .button {
        width: 100%; } }

.page-content-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 44px; }
  .page-content-cards .single-card {
    width: 30%;
    margin: 0 1.66% 35px; }
    .page-content-cards .single-card .single-card-img {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start; }
      .page-content-cards .single-card .single-card-img img {
        width: 100%; }
    @media (max-width: 1199px) {
      .page-content-cards .single-card {
        width: 47%;
        margin: 0 1.5% 35px; } }
    @media (max-width: 767px) {
      .page-content-cards .single-card {
        width: 100%;
        margin: 0 0 20px; } }

.page-content-section-right {
  width: calc(100% - 200px); }
  @media (max-width: 991px) {
    .page-content-section-right {
      width: 100%; } }

.schemes {
  padding: 60px 0; }
  .schemes .schemes-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; }
    @media (max-width: 991px) {
      .schemes .schemes-content {
        flex-wrap: wrap; } }
  .schemes .scheme-block {
    width: 48%; }
    @media (max-width: 991px) {
      .schemes .scheme-block {
        width: 100%; }
        .schemes .scheme-block:first-child {
          margin-bottom: 40px; } }
    .schemes .scheme-block img {
      max-width: 100%;
      width: 100%; }

.slider-images-section {
  margin-bottom: -65px; }
  @media (max-width: 767px) {
    .slider-images-section {
      margin: 0; }
      .slider-images-section + footer {
        margin-top: 0; } }

.slider-images {
  height: 380px;
  background-color: #000000;
  overflow: hidden; }
  .slider-images .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: stretch; }

.cards {
  padding: 0 0 60px; }
  .cards .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-image: url("../img/cards.png");
    background-repeat: no-repeat;
    background-position: 14% 50%;
    background-size: 43%; }
    @media (max-width: 991px) {
      .cards .container {
        flex-wrap: wrap;
        background-image: none; } }
  .cards .cards-section:first-child {
    flex-shrink: 0;
    width: 40%;
    height: 100%; }
  @media (max-width: 991px) {
    .cards .cards-section {
      width: 100%; } }
  .cards .card-content {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px; }
    @media (max-width: 767px) {
      .cards .card-content {
        font-size: 14px;
        line-height: 24px; } }
  .cards .card-buttons {
    margin-left: -1%;
    margin-right: -1%;
    display: flex; }
    @media (max-width: 991px) {
      .cards .card-buttons {
        flex-wrap: wrap;
        flex-direction: column; } }
    .cards .card-buttons a {
      margin-right: 1%;
      margin-left: 1%; }
      @media (max-width: 991px) {
        .cards .card-buttons a {
          margin: 0 auto;
          display: block; }
          .cards .card-buttons a:first-child {
            margin-bottom: 15px; } }

.advantages-card {
  background: url("../img/user-card-bg.png") no-repeat; }
  .advantages-card .advantages-content-item {
    background-image: linear-gradient(to top, #e7e9e8, #fdfcfa); }

.work-card {
  padding: 80px 0;
  background-image: url("../img/card-work-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -40px;
  margin-bottom: -40px;
  padding-bottom: 160px; }
  .work-card .container {
    padding: 0 30px; }
  .work-card .work-card-content {
    color: #ffffff;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 991px) {
      .work-card .work-card-content {
        flex-wrap: wrap; } }
  .work-card .work-card-content-item-step {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    padding: 15px;
    font-family: 'Amatic SC', cursive;
    font-size: 120px;
    color: #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px; }
  .work-card .work-card-content-item {
    width: 20%;
    text-align: center; }
    @media (max-width: 991px) {
      .work-card .work-card-content-item {
        width: 48%; } }
    @media (max-width: 767px) {
      .work-card .work-card-content-item {
        width: 100%;
        margin-bottom: 55px; }
        .work-card .work-card-content-item:last-child {
          margin-bottom: 0; } }
  .work-card .work-card-content-item-text {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 0 15px;
    font-size: 18px;
    line-height: 24px; }

.feedback-form {
  background: url("../img/feedback-form-bg.png") no-repeat 150px 200px, #b68c37;
  background-size: contain;
  padding: 130px 0 160px;
  margin-top: -40px;
  margin-bottom: -60px; }
  .feedback-form input[type="text"],
  .feedback-form input[type="email"] {
    color: #ffffff; }
  .feedback-form input[type="text"]::-moz-placeholder {
    color: #ffffff;
    /* Цвет подсказывающего текста */ }
  .feedback-form input[type="text"]::-webkit-input-placeholder {
    color: #ffffff; }
  .feedback-form input[type="text"]:-ms-input-placeholder {
    color: #ffffff; }
  .feedback-form input[type="text"]::-ms-input-placeholder {
    color: #ffffff; }
  .feedback-form input[type="text"]::placeholder {
    color: #ffffff; }
  .feedback-form input[type="email"]::-moz-placeholder {
    color: #ffffff;
    /* Цвет подсказывающего текста */ }
  .feedback-form input[type="email"]::-webkit-input-placeholder {
    color: #ffffff; }
  .feedback-form input[type="email"]:-ms-input-placeholder {
    color: #ffffff; }
  .feedback-form input[type="email"]::-ms-input-placeholder {
    color: #ffffff; }
  .feedback-form input[type="email"]::placeholder {
    color: #ffffff; }
  @media (max-width: 767px) {
    .feedback-form {
      padding: 80px 0 130px; } }
  .feedback-form .form {
    display: block;
    margin: 0 auto; }

.card-slider {
  width: 50%;
  height: 405px;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  flex-shrink: 0; }
  @media (max-width: 1199px) {
    .card-slider {
      width: 100%;
      margin-bottom: 25px; } }
  @media (max-width: 767px) {
    .card-slider {
      height: auto; } }
  .card-slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1199px) {
      .card-slider .swiper-slide {
        display: flex;
        justify-content: center; } }
    .card-slider .swiper-slide img {
      max-width: 100%;
      margin: auto; }

.product-main-info {
  display: flex; }
  @media (max-width: 1199px) {
    .product-main-info {
      flex-wrap: wrap; } }
  @media (max-width: 767px) {
    .product-main-info .button-card {
      width: 100%; } }
  .product-main-info .product-info-details-title {
    font-weight: bolder;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd; }
  .product-main-info .product-info-details-price {
    font-weight: bolder;
    color: #b68c37;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; }
    .product-main-info .product-info-details-price span {
      color: #b68c37; }
    .product-main-info .product-info-details-price .value-container {
      margin-right: 15px; }
      .product-main-info .product-info-details-price .value-container .value {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        margin-right: 5px; }
    .product-main-info .product-info-details-price .currency {
      font-family: 'Montserrat', sans-serif; }
  .product-main-info .product-info-add-product-container {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    display: flex; }

.product-info-details-characteristics {
  margin-bottom: 24px; }
  .product-info-details-characteristics span {
    font-weight: bold;
    display: inline-block;
    margin-right: 7px; }

.similar-product {
  padding-top: 50px;
  padding-bottom: 70px; }

.slider-similar-products-container {
  position: relative; }
  @media (max-width: 767px) {
    .slider-similar-products-container .container {
      width: 100%;
      max-width: 100%; } }

.swiper-button-prev-card,
.swiper-button-next-card {
  position: absolute;
  top: 50%;
  height: 100px;
  width: 50px;
  z-index: 5000;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .swiper-button-prev-card.swiper-button-disabled,
  .swiper-button-next-card.swiper-button-disabled {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: default; }
  @media (max-width: 767px) {
    .swiper-button-prev-card,
    .swiper-button-next-card {
      display: none; } }

.swiper-button-prev-card {
  left: 5px; }

.swiper-button-next-card {
  right: 5px; }

.swiper-pagination-card {
  display: flex;
  justify-content: center;
  align-items: center; }
  .swiper-pagination-card .swiper-pagination-bullet-active {
    background: #b68c37; }

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: transparent;
  opacity: 1;
  border: 1px solid grey;
  margin: 0 3px;
  cursor: pointer; }

.slider-similar-products {
  padding: 10px;
  overflow: hidden;
  margin-bottom: 35px; }
  .slider-similar-products .swiper-slide img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%; }

.counter {
  align-items: center;
  display: flex;
  font-weight: normal; }
  @media (min-width: 768px) {
    .counter.counter-visible-desktop {
      display: flex !important; } }
  @media (max-width: 767px) {
    .counter.counter-visible-desktop {
      display: none; } }
  @media (max-width: 767px) {
    .counter.counter-visible-mobile {
      display: flex; } }
  @media (min-width: 768px) {
    .counter.counter-visible-mobile {
      display: none !important; } }
  .counter div {
    margin-right: 15px; }
  .counter .minus,
  .counter .plus {
    font-weight: bold;
    color: #ffffff;
    background-color: #b68c37;
    padding: 5px;
    font-size: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  .counter .value {
    min-width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: normal; }

.single-card {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4); }
  .single-card .counter .minus,
  .single-card .counter .plus {
    width: 18px;
    height: 18px;
    font-size: 16px; }

.single-card-info {
  padding: 15px; }

.single-card-img {
  height: 215px;
  overflow: hidden;
  position: relative; }
  .single-card-img img {
    transition: all .3s ease-in-out; }
  .single-card-img:hover > img {
    transform: scale(1.1); }
  .single-card-img .single-card-search {
    position: absolute;
    z-index: 5000;
    top: 15px;
    right: 5px; }
    .single-card-img .single-card-search img {
      max-width: 100%;
      height: 70%; }

.single-card-label {
  position: absolute;
  left: 0;
  top: 15px;
  z-index: 5000;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  font-family: 'Montserrat', sans-serif; }
  .single-card-label.hit {
    background-color: #0000ff; }
  .single-card-label.discont {
    background-color: #ff0000; }
  .single-card-label.new {
    background-color: #0ca400; }

.single-card-title {
  font-weight: bolder;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif; }
  .single-card-title:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 500;
    width: 40px;
    transform: translateX(-50%);
    height: 2px;
    background-color: #b68c37; }

.manufacturer {
  font-weight: bold;
  color: #737373;
  font-family: 'Montserrat', sans-serif; }

.manufacturer-name {
  color: #737373;
  margin-bottom: 15px; }

.price {
  font-weight: bolder;
  color: #b68c37;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5px; }
  .price span {
    color: inherit;
    font-weight: inherit;
    font-family: 'Montserrat', sans-serif; }
  .price .price-value {
    font-size: 30px;
    margin-right: 5px; }
  .price .currency {
    font-size: 16px; }

.counter-container {
  display: flex;
  justify-content: space-between; }

.edge {
  padding-bottom: 70px; }
  .edge .container {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1199px) {
      .edge .container {
        flex-wrap: wrap; } }
  @media (max-width: 767px) {
    .edge {
      margin-top: 70px; } }

.edge-item {
  padding: 45px 24px 70px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
  width: 23%;
  transition: all .3s ease-in-out; }
  @media (max-width: 1199px) {
    .edge-item {
      width: 48%;
      margin-bottom: 25px; }
      .edge-item:last-child {
        margin-bottom: 0; } }
  @media (max-width: 767px) {
    .edge-item {
      width: 100%;
      padding: 45px 50px 35px; } }
  .edge-item:hover {
    transform: scale(1.02); }

.edge-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 47px; }

.edge-item-title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 34px;
  text-align: center; }

.edge-item-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center; }

.delivery-info {
  margin-bottom: 80px; }
  .delivery-info .container {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1199px) {
      .delivery-info .container {
        flex-wrap: wrap; } }
    .delivery-info .container .delivery-info-item {
      width: 48%; }
      @media (max-width: 1199px) {
        .delivery-info .container .delivery-info-item {
          width: 100%; }
          .delivery-info .container .delivery-info-item:first-child {
            margin-bottom: 25px; } }
      .delivery-info .container .delivery-info-item .delivery-info-item-content {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 30px; }
        .delivery-info .container .delivery-info-item .delivery-info-item-content b, .delivery-info .container .delivery-info-item .delivery-info-item-content p, .delivery-info .container .delivery-info-item .delivery-info-item-content span, .delivery-info .container .delivery-info-item .delivery-info-item-content div {
          font-family: 'Montserrat', sans-serif; }

.sentence {
  margin-bottom: 90px; }
  @media (max-width: 767px) {
    .sentence {
      margin-bottom: 0; }
      .sentence + .feedback-form {
        margin-top: 0; } }
  @media (max-width: 767px) {
    .sentence .container {
      width: 100%; } }

.sentence-container {
  position: relative;
  transition: all .3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .sentence-container.sentence-container-bg {
    min-height: 600px; }
    @media (max-width: 767px) {
      .sentence-container.sentence-container-bg {
        min-height: 700px; } }
  .sentence-container > img {
    width: 100%;
    max-width: 100%; }
  .sentence-container .sentence-title {
    background-color: #b68c37;
    color: #ffffff;
    font-size: 37px;
    line-height: 47px;
    font-family: 'Montserrat', sans-serif;
    padding: 18px 23px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bolder; }
    @media (max-width: 767px) {
      .sentence-container .sentence-title {
        font-size: 24px;
        line-height: 34px;
        width: 100%;
        text-align: center;
        padding: 10px 10%; } }
  .sentence-container .sentence-content {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 500;
    color: #ffffff;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.01)); }
  .sentence-container .sentence-text {
    color: inherit;
    padding: 14px 35px 20px;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif; }
    @media (max-width: 767px) {
      .sentence-container .sentence-text {
        padding: 10px 15% 40px; } }

.production {
  padding-bottom: 70px; }
  @media (max-width: 767px) {
    .production {
      padding-top: 50px; } }
  .production .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .production .container .production-item {
      width: 48%;
      transition: all .3s ease-in-out;
      margin-bottom: 55px; }
      @media (max-width: 991px) {
        .production .container .production-item {
          width: 100%; } }
      @media (max-width: 767px) {
        .production .container .production-item .button {
          width: 100%; } }
      .production .container .production-item .production-item-img {
        margin-bottom: 37px; }
        @media (max-width: 767px) {
          .production .container .production-item .production-item-img {
            margin-bottom: 20px; } }
        .production .container .production-item .production-item-img img {
          max-width: 100%;
          width: 100%; }
      .production .container .production-item .production-title {
        text-transform: uppercase;
        font-weight: bolder;
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 34px;
        font-family: 'Montserrat', sans-serif; }
        @media (max-width: 767px) {
          .production .container .production-item .production-title {
            margin-bottom: 20px;
            text-align: center; } }

.tiles .container {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 991px) {
    .tiles .container {
      flex-wrap: wrap;
      padding-top: 55px; } }
.tiles .tile-item {
  width: 32%;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out; }
  .tiles .tile-item:hover {
    transform: scale(1.02); }
  @media (max-width: 991px) {
    .tiles .tile-item {
      width: 48%;
      margin-bottom: 25px; } }
  @media (max-width: 767px) {
    .tiles .tile-item {
      width: 100%; } }
.tiles .tile-img img {
  max-width: 100%;
  width: 100%; }
.tiles .tile-title {
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 34px; }

.modals {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 55000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  display: none; }
  .modals.active {
    display: block; }
  .modals .close {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -20px;
    top: -26px;
    cursor: pointer; }
    .modals .close img {
      width: 100%; }

.modal-content {
  background-color: #ffffff; }

.modal-title {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase; }

.call-back {
  width: 815px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none; }
  .call-back.active {
    display: block; }
  .call-back .modal-content {
    display: flex;
    justify-content: space-between;
    padding: 35px; }
    .call-back .modal-content .modal-section {
      width: 48%; }
      @media (max-width: 991px) {
        .call-back .modal-content .modal-section {
          width: 100%; }
          .call-back .modal-content .modal-section:first-child {
            display: none; } }
    .call-back .modal-content .modal-section-img {
      position: relative; }
      .call-back .modal-content .modal-section-img .modal-section-img-info {
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        background-color: #ffffff;
        padding: 10px 25px;
        width: 80%; }
        .call-back .modal-content .modal-section-img .modal-section-img-info .modal-section-img-info-title {
          text-align: center;
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 5px; }
        .call-back .modal-content .modal-section-img .modal-section-img-info .modal-section-img-info-description {
          font-size: 16px;
          text-align: center; }
      .call-back .modal-content .modal-section-img img {
        max-width: 100%; }
    .call-back .modal-content .modal-section-title {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 30px; }
    .call-back .modal-content input {
      border: 1px solid #8d8d8d;
      height: 49px;
      padding: 0 15px;
      margin-bottom: 23px;
      display: block;
      width: 100%;
      font-style: italic; }
    .call-back .modal-content .button {
      width: 100%; }
    .call-back .modal-content .modal-section-description {
      margin-top: 20px;
      font-size: 12px;
      line-height: 22px; }
    @media (max-width: 991px) {
      .call-back .modal-content {
        flex-wrap: wrap; } }

.order-modal {
  width: 815px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  display: none;
  margin-bottom: 200px; }
  .order-modal .link-thin {
    margin-bottom: 60px;
    display: block; }
    @media (max-width: 767px) {
      .order-modal .link-thin {
        margin-bottom: 25px; } }
  .order-modal .modal-content {
    padding: 30px; }
  .order-modal .product-information {
    display: flex;
    align-items: center;
    padding: 17px 0 20px;
    border-bottom: 1px solid grey; }
    @media (max-width: 991px) {
      .order-modal .product-information {
        flex-wrap: wrap; } }
    .order-modal .product-information .product-information-section {
      display: flex;
      align-items: center; }
      .order-modal .product-information .product-information-section:nth-of-type(2) {
        margin: 0 10px; }
        @media (max-width: 991px) {
          .order-modal .product-information .product-information-section:nth-of-type(2) {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: center; } }
      @media (max-width: 767px) {
        .order-modal .product-information .product-information-section {
          width: 100%;
          justify-content: space-between; } }
      @media (max-width: 460px) {
        .order-modal .product-information .product-information-section {
          flex-wrap: wrap; } }
    .order-modal .product-information .product-information-img {
      width: 75px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin-right: 15px; }
      @media (max-width: 460px) {
        .order-modal .product-information .product-information-img {
          width: 100%;
          margin-bottom: 15px; } }
      .order-modal .product-information .product-information-img img {
        max-width: 100%;
        max-height: 100%; }
    .order-modal .product-information .product-information-name {
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase; }
    .order-modal .product-information .product-information-address {
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      line-height: 24px; }
  .order-modal .product-information:first-child {
    border-top: 1px solid grey; }
  .order-modal .product-information:last-child {
    margin-bottom: 25px; }
  .order-modal .sum-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0; }
    @media (max-width: 767px) {
      .order-modal .sum-all {
        flex-wrap: wrap; }
        .order-modal .sum-all .sum-all-section {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-end; }
          .order-modal .sum-all .sum-all-section:first-child {
            margin-bottom: 20px; } }
  .order-modal .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0; }
    @media (max-width: 767px) {
      .order-modal .button-group {
        flex-wrap: wrap; }
        .order-modal .button-group button {
          width: 100%; }
          .order-modal .button-group button:first-child {
            margin-bottom: 15px; } }
  .order-modal.active {
    display: block; }
  .order-modal .user-all-information {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px; }
    @media (max-width: 767px) {
      .order-modal .user-all-information {
        flex-wrap: wrap; } }
  .order-modal .user-all-information-section {
    width: 48%; }
    @media (max-width: 767px) {
      .order-modal .user-all-information-section {
        width: 100%; }
        .order-modal .user-all-information-section:first-child {
          margin-bottom: 20px; } }
    .order-modal .user-all-information-section input[type='text'],
    .order-modal .user-all-information-section input[tupe="email"],
    .order-modal .user-all-information-section input[type="number"] {
      width: 100%;
      display: block;
      border: 1px solid #8d8d8d;
      height: 48px;
      padding-left: 20px;
      margin-bottom: 21px;
      font-style: italic; }
  .order-modal .input-group {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .order-modal .input-group {
        flex-wrap: wrap; } }
    .order-modal .input-group input[type="text"],
    .order-modal .input-group input[type='email'],
    .order-modal .input-group input[type='number'] {
      width: 48% !important; }
      @media (max-width: 767px) {
        .order-modal .input-group input[type="text"],
        .order-modal .input-group input[type='email'],
        .order-modal .input-group input[type='number'] {
          width: 100% !important; } }
  .order-modal .tabs {
    border: 1px solid #8d8d8d;
    margin-bottom: 15px; }
  .order-modal .tab-links {
    display: flex;
    margin-bottom: 8px; }
    @media (max-width: 460px) {
      .order-modal .tab-links {
        flex-wrap: wrap; } }
    .order-modal .tab-links a {
      padding: 12px 16px;
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      background-color: #8d8d8d;
      color: #ffffff; }
      @media (max-width: 767px) {
        .order-modal .tab-links a {
          width: 100%; } }
      .order-modal .tab-links a:last-child {
        flex-grow: 1; }
      .order-modal .tab-links a.active-tab {
        background-color: #ffffff;
        color: black; }
  .order-modal .tab-content {
    padding: 0 15px 15px; }
    .order-modal .tab-content .tab-content-item {
      display: none; }
      .order-modal .tab-content .tab-content-item.active-tab {
        display: block; }
    .order-modal .tab-content .tab-title {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 24px; }

@media (max-width: 991px) {
  .modal {
    width: 80%; } }

.tab-description {
  font-size: 12px;
  line-height: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 0 15px; }

.choice-option {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .choice-option input {
    width: 24px;
    height: 24px;
    margin-right: 5px; }

.textarea-note {
  width: 100%;
  height: 111px;
  resize: none;
  padding: 15px 20px;
  font-style: italic;
  margin-bottom: 20px;
  border: 1px solid #8d8d8d; }

.persons {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.modal-title-payment {
  margin: 20px 0 15px; }
  @media (max-width: 767px) {
    .modal-title-payment {
      text-align: center; } }

.options-payment {
  margin-bottom: 12px; }
  @media (max-width: 767px) {
    .options-payment.options-payment-center-mobile {
      display: flex;
      justify-content: center;
      align-items: center; } }
  @media (max-width: 767px) {
    .options-payment {
      display: flex;
      flex-wrap: wrap;
      align-items: center; } }
  .options-payment input[type='radio'] {
    margin-right: 5px; }
  .options-payment input[type='text'],
  .options-payment input[type='email'] {
    height: 49px;
    padding-left: 20px;
    width: 130px; }
  .options-payment label {
    margin-right: 45px;
    cursor: pointer; }
    @media (max-width: 767px) {
      .options-payment label {
        width: 100%;
        margin-bottom: 15px; } }

.surrender {
  margin-right: 5px;
  margin-left: 5px; }

.personal-data {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 767px) {
    .personal-data {
      margin-top: 30px;
      flex-wrap: wrap; }
      .personal-data .button {
        width: 100%; } }
  .personal-data label {
    display: flex;
    align-items: center;
    cursor: pointer; }
    @media (max-width: 767px) {
      .personal-data label {
        width: 100%;
        margin-bottom: 20px; } }

#agree {
  margin-right: 5px;
  width: 24px;
  height: 24px; }
  #agree:checked {
    background-color: #b68c37; }

.unit-price {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  margin: 0 15px; }
  .unit-price span:first-child {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    flex-shrink: 0; }
  .unit-price span:last-child {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    flex-shrink: 0; }

.sum span:first-child,
.sum-all-section span:first-child {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  flex-shrink: 0;
  color: #b68c37; }
.sum span:last-child,
.sum-all-section span:last-child {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  flex-shrink: 0;
  color: #b68c37; }

.slider-container.first-sample {
  width: 90%;
  height: 600px;
  margin: 0 auto;
  position: relative; }

.slider-container.first-sample .slider {
  height: 100%; }

.slider-container.first-sample .slider .slide-wrapper {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.slider-container.first-sample .slider .slide-tracker .my-fr-current .item::before {
  background-color: rgba(0, 0, 0, 0); }

.slider-container.first-sample .slider .item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.slider-container.first-sample .slider .item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 1s; }

.slider-container.first-sample .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center; }

.slider-container.first-sample .prev-slide,
.slider-container.first-sample .next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s; }

.slider-container.first-sample .prev-slide:hover,
.slider-container.first-sample .next-slide:hover {
  color: #ccc; }

.slider-container.first-sample .prev-slide {
  left: -70px; }

.slider-container.first-sample .next-slide {
  right: -70px; }

.site-filter .filter-title {
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d4d4d4;
  position: relative; }
  .site-filter .filter-title .filter-marker {
    position: absolute;
    right: 0;
    top: 7px;
    display: block;
    width: 6px;
    height: 6px;
    border: 6px solid transparent;
    border-top: 6px solid #b68c37;
    transition: all .3s ease-in-out;
    transform-origin: 50% 20%; }
    .site-filter .filter-title .filter-marker.opened {
      transform: rotate(180deg); }
.site-filter .site-filter-block-list {
  display: none; }
.site-filter .site-filter-block {
  margin-bottom: 25px; }
.site-filter .site-filter-block-list-item {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
  transition: all .3s ease-in-out; }
  .site-filter .site-filter-block-list-item:hover {
    color: #b68c37; }
  .site-filter .site-filter-block-list-item.active {
    color: #b68c37; }

.get-us {
  padding: 62px 0 80px; }

.get-us-content {
  font-size: 16px; }

.requisites {
  padding: 67px 0px 130px; }
  .requisites .container {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .requisites .container {
        flex-wrap: wrap; } }
  .requisites .requisites-section {
    width: 50%; }
    @media (max-width: 767px) {
      .requisites .requisites-section {
        width: 100%;
        margin-bottom: 25px; } }
  .requisites .requisites-content-block:first-child {
    margin-bottom: 46px; }

h1 {
  text-align: center;
  font-family: Montserrat,sans-serif;
  color: #333; }

.accordion-vertical {
  width: 100%;
  max-width: 100%;
  height: 600px;
  overflow: hidden;
  margin: -50px auto;
  min-height: 609px; }
  .accordion-vertical ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0; }
    .accordion-vertical ul li {
      display: table-cell;
      vertical-align: bottom;
      position: relative;
      width: 5%;
      height: 600px;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all 500ms ease; }
      .accordion-vertical ul li div.img-container {
        display: block;
        overflow: hidden;
        width: 100%;
        position: relative;
        z-index: 500; }
        .accordion-vertical ul li div.img-container a {
          display: flex;
          justify-content: center;
          align-content: center;
          height: 600px;
          width: 100%;
          position: relative;
          z-index: 3;
          vertical-align: bottom;
          box-sizing: border-box;
          color: #fff;
          text-decoration: none;
          font-family: Open Sans, sans-serif;
          transition: all 200ms ease; }
          .accordion-vertical ul li div.img-container a:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 600;
            background-color: rgba(0, 0, 0, 0.6); }
          .accordion-vertical ul li div.img-container a img {
            flex-shrink: 0; }
          .accordion-vertical ul li div.img-container a h2 {
            font-family: Montserrat,sans-serif;
            text-overflow: clip;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 2px;
            top: 510px; }
          .accordion-vertical ul li div.img-container a p {
            top: 510px;
            font-size: 13.5px; }
    .accordion-vertical ul li.active {
      width: 10%; }
      @media (max-width: 1199px) {
        .accordion-vertical ul li.active {
          width: 20%; } }
      .accordion-vertical ul li.active .img-container a:before {
        background-color: transparent; }
      .accordion-vertical ul li.active .participants-slider-info {
        visibility: visible;
        opacity: 1; }
    .accordion-vertical ul li:focus {
      outline: none; }

@media screen and (max-width: 600px) {
  body {
    margin: 0; }

  .accordion {
    height: auto; }
    .accordion ul li, .accordion ul li:hover, .accordion ul:hover li, .accordion ul:hover li:hover {
      position: relative;
      display: table;
      table-layout: fixed;
      width: 100%;
      -webkit-transition: none;
      transition: none; } }
.about {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #666; }
  .about a {
    color: blue;
    text-decoration: none; }
    .about a:hover {
      text-decoration: underline; }
