//font-family: 'Montserrat', sans-serif;
//font-family: 'Amatic SC', cursive;
//font-family: 'Montserrat', sans-serif;
$yellow: #b68c37;
$light_grey: #eeeeee;
$borderColor: #8d8d8d;


.swiper-button-prev:after,
.swiper-button-next:after {
  color: #ffffff;
  font-size: 30px;
}

.swiper-pagination-bullet-active {
  background-color: $yellow!important;
}

body {
  overflow-x: hidden;
}

.no-scroll {
  overflow: hidden;
}

hr {
  color: #bababa;
  background-color: #bababa;
}

* {
  font-family: 'Montserrat', sans-serif;
  color: #2e2e2e;
  box-sizing: border-box;
}

div,
p,
span {
  font-size: 16px;
  line-height: 26px;

  @media(max-width: 767px) {
    font-size: 14px;
    line-height: 24px;
  }
}

input {
  box-shadow: none;
}

//style checkbox

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid $borderColor;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: $yellow;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.label-text {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
}
//end style checkbox

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

a,
span,
div,
section,
input,
button,
textarea,
form {
  &:focus {
    text-decoration: none;
    outline: none;
  }
  &:active {
    text-decoration: none;
    outline: none;
  }
}


.shadow {
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
}

.event-shadow {
  transition: all .3s ease-in-out;

  &:hover {
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.2);
  }
}

.visible-sm {
  @media(max-width: 767px) {
    display: flex!important;
  }
}
.hidden-sm {
  @media(max-width: 767px) {
    display: none!important;
  }
}

.breadcrumbs {
  color: #ffffff;

  @media(max-width: 767px) {
    text-align: center;
  }
  a {
    color: inherit;
    font-size: 14px;
    line-height: 36px;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 50px;
  min-height: 50px;
  padding: 0 15px;
  border: none;
  background-color: $yellow;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: all .3s ease-in-out;
  white-space: nowrap;

  &:hover {
    background-color: darken($yellow, 10%);
  }

  img {
    height: 35px;
    margin-right: 10px;
  }

}

.button-center {
  display: flex;
  justify-content: center;
}

.button-inverse {
  color: $yellow;
  background: #ffffff;
  transition: all .3s ease-in-out;
  white-space: nowrap;

  &:hover {
    background-color: darken(#ffffff, 10%);
  }
}

.button-inverse-border {
  border: 1px solid $yellow;
}

.underline {
  position: relative;
  margin-bottom: 25px;

  &:after {
    content: '';
    background: $yellow;
    height: 2px;
    width: 40px;
    position: absolute;
    left: 24px;
    bottom: 0;
    transform: translate(-50%, 0);

    @media(max-width: 767px) {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &.underline-center:after {
    left: 50%;
    transform: translate(-50%, 0);
  }

}

.underline-white {
  position: relative;
  margin-bottom: 25px;

  &:after {
    content: '';
    background: #ffffff;
    height: 2px;
    width: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
  }

}

.underline-left-yellow {
  position: relative;
  margin-bottom: 25px;

  &:after {
    content: '';
    background: $yellow;
    height: 2px;
    width: 40px;
    position: absolute;
    left: 20px;
    bottom: 0;
    transform: translate(-50%, 0);

    @media(max-width: 767px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.underline-left-white {
  position: relative;
  margin-bottom: 25px;

  &:after {
    content: '';
    background: #ffffff;
    height: 2px;
    width: 40px;
    position: absolute;
    left: 20px;
    bottom: 0;
    transform: translate(-50%, 0);

    @media(max-width: 991px) {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.underline-white-transparent {
  position: relative;
  margin-bottom: 25px;

  &:after {
    content: '';
    background: rgba(255,255,255,0.5);

    @media(max-width: 767px) {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.divider {
  height: 2px;
  width: 40px;
  margin-bottom: 15px;

  @media(max-width: 767px) {
    display: none;
  }
}

.divider-yellow {
  background-color: $yellow;
}


.link {
  color: $yellow;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.link-thin {
  color: $yellow;
  font-size: 16px;
  text-decoration: underline;
}

.date {
  display: inline-block;
  background: $yellow;
  color: #ffffff;
  padding: 5px;
  font-weight: bold;
}


.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  @media(max-width:767px) {
    width: 75%;
  }
}

.light-grey-section {
  background-color: $light_grey;
}

.title {
  font-size: 60px;
  line-height: 70px;
  width: 100%;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 15px;

  @media(max-width: 767px) {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
  }
}

.title-center {
  text-align: center;
}

.title-white {
  color: #ffffff;
}

.title-info-section {
  font-size: 72px;
  line-height: 82px;
  width: 100%;
  font-family: 'Amatic SC', cursive;
  margin-bottom: 26px;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 15px;

  @media(max-width: 991px) {
    font-size: 36px;
    line-height: 46px;
  }
  @media(max-width: 767px) {
    text-align: center;
    margin-bottom: 0;
   }
}

.no-wrap {
  flex-wrap: nowrap;
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}

@media (max-width: 991px) {
  .hidden-md {
    display: none!important;
  }
}


header {
  background: rgba(0,0,0,.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100%;
  min-height: 100px;
  display: flex;
  align-content: center;
  justify-content: center;

  @media(min-width: 1200px) {
    min-height: 135px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 57%;
      width: 45%;
      height: 1px;
      background: rgba(255,255,255,0.5);
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 57%;
      width: 45%;
      height: 1px;
      background: rgba(255,255,255,0.5);
    }
  }

  .header-icon {
    height: 20px;
    margin-right: 17px;
    display: inline-block;
  }
}

.cart-full {
  position: relative;

  .cart-count {
    position: absolute;
    left: 10px;
    top: -10px;
    background-color: #ffffff;
    padding: 2px;
    border-radius: 50%;
    color: #000000;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.header-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;

  @media(min-width: 1200px) {
    display: none;
  }

  .header-mobile-item {
    width: 33%;
    //margin: 0 15px;
  }

  .logo-mobile {
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 60px;
    }
  }

  .burger-menu {

     .burger-button {
       position: relative;
       z-index: 50001;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;
       height: 30px;
       width: 30px;
       cursor: pointer;

       span {
         position: absolute;
         left: 0;
         visibility: visible;
         opacity: 1;
         width: 100%;
         height: 5px;
         background-color: #ffffff;
         border-radius: 3px;
         transition: all .3s ease-in-out;

         &:nth-of-type(1) {
           top: 0;
           transform-origin: -10% 10%;
         }
         &:nth-of-type(2) {
           top: 50%;
           transform: translateY(-50%);
         }
         &:nth-of-type(3) {
            bottom: 0;
         }
       }
     }
  }

  .mobile-header-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      margin: 0 15px 0 0;

      &:last-child {
        margin: 0;
      }

      img {
        width: 25px;
        max-height: 30px;
      }
    }
  }

}

.burger-menu-layer {
  position: absolute;
  width: 100%;
  top: 100px;
  z-index: 50005;
  background: rgba(0,0,0,.8);
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  padding: 24px 0;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.burder-menu-layer-list {
  display: flex;
  align-items: center;
  height: 100%;


  a {
    display: block;
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .3s ease-in-out;

    &.active {
      color: $yellow;
    }

    &:hover {
      color: $yellow;
    }
  }
}

@media(max-width: 1199px) {
  .header-desktop {
    display: none;
  }
}

.header-upper,
.header-lower {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  min-height: 80px;
}

.header-lower {
  min-height: 55px;
}

.header-upper-info {
  display: flex;
  align-items: center;
}

.header-uppder-info-item {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  span,
  a {
    color: inherit;
    font-size: 16px;
  }
}

.header-uppder-info-item-links {
  margin-right: 15px;

  img {
    height: 20px;
  }

  &:last-child {
    margin-right: 0;
    .header-icon {
      margin-right: 0!important;
    }
  }
}

.header-lower-info {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.header-lower-info-menu-item {
  color: inherit;
  font-weight: bold;
  font-size: 15px;
  margin-right: 12px;
  transition: all .3s ease-in-out;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    text-decoration: underline;
  }
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-info-section {
  position: relative;
  margin-bottom: 80px;

  &.header-contancts {
    margin-bottom: 0;
  }

  @media(max-width: 767px) {
    margin-bottom: 30px;

    &.header-contancts {
      margin-bottom: 0;
    }
  }
}

.regged-divider-top {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 50000;
    width: 100%;
    height: 80px;
    background: url("../img/divider-white.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media ( max-width: 767px ) {
      top: -15px;
      display: none;
    }
  }

  &.regged-divider-top-reverse {
    &:before {
      transform: rotate(180deg);
    }
  }
}

.regged-divider-bottom {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 50000;
    width: 100%;
    height: 80px;
    background-image:  url("../img/divider-white.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media(max-width: 1199px) {
      height: 68px;
    }
    @media(max-width: 991px) {
      height: 41px;
      bottom: -12px;
    }
    @media(max-width: 767px) {
      display: none;
    }
  }

  &.regged-divider-bottom-reverse {
    &:after {
      transform: rotate(180deg);
    }
  }

  &.regged-divider-bottom-grey {
    &:after {
      background-image: url("../img/divider-grey.png");
      transform: rotate(180deg);
    }
  }
}



//main slider

.main-slider {

  min-height: 890px;

  @media(max-width: 767px) {
    min-height: 735px;
  }

  .swiper-slide {
    position: relative;
    height: 100%;
    min-height: 890px;
    background-position: center;
    background-size: cover;
    background-repeat:repeat-x;

    .swiper-slide-content {
      color: #ffffff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @media(max-width: 767px) {
      min-height: 735px;
    }
  }

  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 150px;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: #ffffff;
    font-size: 30px;
    padding: 15px 10px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.5);
  }
}

//end styles main slider

// category slider

.category-slider-container {
  position: absolute;
  left: 0;
  bottom: 75px;
  width: 100%;
  height: 350px;
  overflow: hidden;
  z-index: 5000;

  .main-slider-pagination {
    position: absolute;
    top: -82px;
    width: 100%;
    height: 50px;
    z-index: 500000;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  @media( max-width: 992px ) {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
  @media( max-width: 767px ) {
    bottom: 100px;
    height: 70px;
  }
}

.category-slider {
  position: absolute;
  padding: 15px 0;
  bottom: 0;
  z-index: 5000;
  width: 100%;
  background: rgba(0,0,0,.5);

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    a {
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }

  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev {
    left: 0;
  }

  .slide-category-info {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -80px;
    left: 50px;
    min-width: 250px;
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: all .3s ease-in-out;

    @media( min-width: 992px ) {
      &.showInfo {
        visibility: visible;
        opacity: 1;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -28px;
        width: 0;
        height: 0;
        border: 40px solid transparent;
        border-top: 0px solid transparent;
        border-right: 0px solid transparent;
        border-left: 28px solid #ffffff
      }
    }

  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #ffffff;

    &:after {
      font-size: 18px;
    }
  }
}


// end category slider

// participant slider styles, accordion style

.participants {
  z-index: 100;
  position: relative;
  top: -70px;
  width: 100%;
  overflow: hidden;

  @media(max-width: 991px) {
    display: none;
  }

  .participants-slider-info {
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    transition-delay: .3s;
  }
}

.my-fr-current {
  .participants-slider-info {
    visibility: visible;
    opacity: 1;
  }
}

.participants-slider-info {
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 17px 63px 20px;
  width: 90%;



  .participants-slider-info-title {
    font-size: 36px;
    line-height: 41px;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
  }

  .participants-slider-info-description {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
}

.participants-mobile-slider {
  height: 580px;
  width: 100%;
  overflow: hidden;
  margin-top: -70px;
  margin-bottom: -30px;

  .swipe-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: #ffffff;
    font-size: 30px;
    padding: 15px 10px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.5);
  }

  .participants-slider-info {
    bottom: 20%;
    width: 70%;
  }

  @media(min-width: 992px) {
    display: none;
  }
}

.slider-content {
  position: relative;

  .slider-item-content {
    display: none;

    &.activeContent {
      display: block;
    }

  }
  .slider-item {
    position: absolute;
    z-index: 50;
    transition: all 1s ease-in-out;

    &.activeItem {
      z-index: 500;
    }
  }

}

// end style participant slider


.swiper-slide-content {
  margin: auto;
  color: #ffffff;

  div {
    color: inherit;
    text-align: center;
  }
  .slogan-upper {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .slogan {
    font-size: 173px;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    margin: 95px 0 80px;
  }
  .slogan-description {
    font-size: 24px;
    line-height: 36px;
    width: 430px;
    margin: 0 auto;
    text-align: center;
  }

  @media( max-width: 991px  ) {
    .slogan-upper {
      font-size: 30px;
    }
    .slogan {
      font-size: 110px;
      margin: 62px 0 50px;
    }
    .slogan-description {
      font-size: 20px;
    }
  }

  @media( max-width: 767px  ) {
    .slogan-upper {
      font-size: 20px;
    }
    .slogan {
      font-size: 70px;
      margin: 40px 0 40px;
    }
    .slogan-description {
      width: 80%;
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.information-block {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  padding: 20px 0 75px;

  @media (max-width: 991px) {
    padding: 70px 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .information-block-section {
    width: 100%;

    &>img {
      width: 100%;
      max-width: 100%;
    }

    &:first-child {
      margin-right: 35px;

      @media (max-width: 991px) {
        margin: 0 0 25px 0;
      }
    }
  }
  .infomation-block-title {
    text-align: left;
  }
  .infomation-block-caption {
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: bold;
    color: $yellow;
  }

  .information-block-content {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages {
  background: url("../img/pattern-divider.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0 125px;
  position: relative;
  z-index: 5000;
}

.advantages-content {
  display: flex;
  margin-left: -2%;
  margin-right: -2%;


  @media(max-width: 1199px) {
    flex-wrap: wrap;
  }

  @media(max-width: 767px) {
    justify-content: center;
  }
}


.advantages-content-item {
  flex-shrink: 0;
  flex-grow: 0;
  background: #ffffff;
  width: 23.5%;
  margin: 0 1%;
  transition: all .3s ease-in-out;

  &:hover {
    transform: scale(1.01);
  }

  &:last-child {
    margin-right: 0;
  }

  &.single-img {
    padding: 15px 15px 26px;
  }

  &.no-img {
    padding-top: 260px;
    background-position: center;
    background-repeat: no-repeat;

    @media( max-width:767px ) {
      padding-top: 215px;
      background-position: top;
      min-height: 290px;
    }

  }


  @media(max-width: 1199px) {
    width: 48%;
    margin-bottom: 15px;
  }

  @media(max-width: 767px) {
    height: auto;
    width: 100%;
  }


  .img-block {
    margin: 0 auto 20px;
    text-align: center;
    height: 225px;

    @media (max-width: 767px) {
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .advantages-content-item-title {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bolder;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;

    @media(max-width: 767px ) {
      width: 95%;
      font-size: 14px;
      line-height: 24px;
      word-wrap: break-word;
      font-family: 'Montserrat', sans-serif;
    }
  }
}

.purchases {
  background: url("../img/review_bg_1.png");
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 70px 0 90px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22.5%;
    height: 100%;
    background-image: url("../img/phone-left.png");
    background-position: right center;
    background-repeat: no-repeat;

    @media(min-width: 992px) {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 22.5%;
    height: 100%;
    background-image: url("../img/phone-right.png");
    background-position: right center;
    background-repeat: no-repeat;

    @media(min-width: 992px) {
      display: none;
    }
  }

  .container {
    width: 55%;

    @media(max-width: 991px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.purchases-content {
  display: flex;

  @media(max-width: 991px) {
    flex-wrap: wrap;
  }
}

.purchases-content-item {

  &:first-child {
    display: flex;
    align-items: center;

    @media(max-width: 991px) {
      display: none;
    }
  }

  &:last-child {
    flex-shrink: 0;

    @media(max-width: 991px) {
      flex-shrink: 1;
    }
  }

  &>img {
    max-width: 100%;
  }
}

.purchases-content-item-list {
  padding-top: 40px;
  margin-bottom: 40px;
}

.purchases-content-item-list--item {
  img {
    margin-right: 10px;
    max-width: 100%;
  }
  span {
    font-size: 16px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 400;
  }
}


.benefits {
  background: $yellow;
  padding: 70px 0;

  .benefit-content {
    display: flex;
  }

  .benefit-content-item {
    position: relative;

    .floating-image {
      position: absolute;
      bottom: -60px;
      left: -187px;
    }
  }

  .benefit-content-item--text {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
    p {
      color: inherit;
    }
  }

  .benefit-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media(min-width: 991px) {
      display: none;
    }

    img {
      max-width: 100%;
      width: 100%;
    }
  }

  @media( max-width: 767px ) {
    .button {
      width: 100%;
    }
  }
}

.compressed-text {
  width: 65%;

  @media(max-width: 767px) {
    width: 100%;
  }
}


.news {
  padding: 0 0 75px;
}

.events {
  padding: 75px 0 0;
  margin-bottom: 110px;
}

.event {
  display: flex;
  margin-bottom: 25px;
  padding-bottom: 50px;

  @media(max-width: 767px) {
    padding-bottom: 25px;
  }

  .date {
    margin-bottom: 17px;
  }

  .event-content {
    @media(max-width: 767px) {
      padding-bottom: 25px;
    }
  }

  .event-img {
    margin-right: 30px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    width: 50%;

    img {
      width: 100%;
      max-width: 100%;
    }

    &.stock {

      &:after {
        content: 'Акция';
        position: absolute;
        left: 0;
        top: 0;
        height: 64px;
        width: 128px;
        background-color: red;
        color: #ffffff;
        transform: translateX(-50%) rotate(-45deg);
        transform-origin: 50% 0%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 18px;

        @media(max-width: 767px) {
          left: -11px;
          top: -11px;
          font-size: 10px;
        }
      }
    }
  }

  .event-title {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 17px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
  .event-text {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 17px;

    @media(max-width: 767px) {
      height: 122px;
      overflow: hidden;
    }
  }

  @media(max-width: 991px) {
    flex-wrap: wrap;
    .event-img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;

      img {
        width: 100%;
      }
    }
  }
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%;

  .single-news {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 47px;

    @media( max-width: 767px ) {
      width: 100%;
    }

    .single-news-img {
      img {
        width: 100%;
      }
    }

    .single-news-content {
      padding: 11px 20px 20px;

      .single-news-content-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 17px;

        @media(max-width: 991px) {
          flex-wrap: wrap;
        }
      }

      .news-name {
        @media(max-width: 991px) {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      .single-news-text {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 10px;
      }
    }
  }
}

.pagination {
   margin: 0 auto;
   display: flex;
   justify-content: center;

  a {
    background: $yellow;
    color: #ffffff;
    padding: 2px 12px;
    margin: 0 5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.feedback {
  min-height: 715px;
  display: flex;

  @media(max-width: 991px) {
    flex-wrap: wrap;

  }

  .feedback-section {
    min-height: 780px;
    width: 50%;

    @media(max-width: 991px) {

      min-height: auto;

    }

    &:first-child {
      background: url("../img/form-img.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media( max-width: 991px ) {
        min-height: 550px;
      }
      @media( max-width: 767px ) {
        min-height: 450px;
      }
    }

    @media( max-width: 991px ) {
      width: 100%;
    }

  }
}

.feedback-bg {
  background: url("../img/form-bg.png") no-repeat right bottom, $yellow;
  @media(max-width: 767px) {
    background: $yellow;
  }

  input[type='number'],
  input[type='text'],
  input[type='email'] {
    color: #ffffff;
  }

  input[type="number"]::-webkit-input-placeholder { color: #ffffff; }
  input[type="number"]:-ms-input-placeholder { color: #ffffff; }
  input[type="number"]::-ms-input-placeholder { color: #ffffff; }
  input[type="number"]::placeholder { color: #ffffff; }

  input[type="text"]::-webkit-input-placeholder { color: #ffffff; }
  input[type="text"]:-ms-input-placeholder { color: #ffffff; }
  input[type="text"]::-ms-input-placeholder { color: #ffffff; }
  input[type="text"]::placeholder { color: #ffffff; }

  input[type="email"]::-moz-placeholder {
    color: #ffffff; /* Цвет подсказывающего текста */
  }
  input[type="email"]::-webkit-input-placeholder { color: #ffffff; }
  input[type="email"]:-ms-input-placeholder { color: #ffffff; }
  input[type="email"]::-ms-input-placeholder { color: #ffffff; }
  input[type="email"]::placeholder { color: #ffffff; }
}

.feedback-section-content {
  padding: 100px 30px 120px;
  color: white;

  @media ( max-width: 767px ) {

    padding: 50px 25px 70px;

  }

  .title {
    max-width: 49%;

    @media ( max-width: 991px ) {
      max-width: 100%;
      text-align: center;
    }
  }
}

.form-caption {
  color: inherit;
  font-size: 18px;
  line-height: 24px;
  width: 70%;
  margin-bottom: 15px;

  @media( max-width: 991px ) {
    width: 100%;
  }
}

.form {
  margin-bottom: 15px;
  width: 100%;

  @media( min-width: 992px ) {
    width: 360px;
  }

  form {
    width: 100%;
  }

  input {
    border: 1px solid #ffffff;
    background: rgba(255,255,255,0.5);
    height: 50px;
    padding: 0 15px;
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }

  button {
    width: 100%;
  }
}

.form-bottom-text {
  font-size: 14px;
  line-height: 24px;
  color: inherit;
}

.common-information {
  //display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}

.common-information-section-content {
  p, div {
    font-size: 16px;
    line-height: 24px;
  }
}

.common-information-section--img {
  float: left;
  margin-right: 30px;

  img {
    max-width: 100%;
  }

  @media(max-width: 767px) {
    img {
      width: 100%;
    }
  }
}

@media( max-width: 991px ) {
  .common-information {
    flex-wrap: wrap;
  }
  .common-information-section--img {
    width: 100%;
    margin: 0 0 15px 0;
  }
}

// footer styles

.prefooter {
  padding-bottom: 50px;
}

footer {
  position: relative;
  z-index: 5000;
  color: #ffffff;
  margin-top: -50px;

  span {
    color: #ffffff;
  }

  .container {
    display: flex;
    align-items: center;
  }
}

.footer-upper {
  background: url("../img/footer.png") no-repeat center;
  background-size: cover;
  padding-top: 100px;

  @media(max-width: 991px) {
    background: url("../img/footer-top-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    display: flex;

    @media( max-width: 991px ) {
      flex-wrap: wrap;
    }

  }

  .logo-footer {
    margin-bottom: 27px;

    @media(max-width: 991px) {
      display: flex;
      justify-content: center;

    }
  }

  .footer-upper-section-contact-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      width: 25px;
    }
  }

  .footer-upper-section-contact-info-item-img {
    width: 35px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 30px;
    }
  }

}

.footer-site-categories {

  a {
    font-size: 16px;
    margin-bottom: 27px;
    text-transform: uppercase;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-upper-section {
  width: 20%;
  color: #ffffff;
  margin-right: 78px;
  flex-shrink: 0;

  &:last-child {
    margin-right: 0;
  }

  &:last-child {
    flex-grow: 1;
    align-self: flex-start;
  }

  @media(max-width: 991px) {
    width: 100%;
    margin-bottom: 25px;
  }

  a {
    color: inherit;
  }
}

.social-links {

  @media(max-width: 991px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    height: 37px;
    width: 37px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    img {
      height: 90%;
    }
  }
}

.footer-lower-links {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  margin-top: 25px;

  @media (max-width: 991px) {
    margin-top: 0;
  }

  a {
    color: #ffffff;
    text-decoration: underline;
    margin: 0 35px;

    @media (max-width: 991px) {
      text-align: center;
      margin: 0 0 15px;
    }
  }
}

.footer-lower {
  color: #ffffff;
  background: #000000;
  padding: 10px 0;

  @media( max-width: 991px ) {
    padding: 0 15px 55px;
  }

  @media( max-width: 767px ) {
    padding: 15px;
  }

  div {
    color: inherit;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}


// outlets

.header-info-section-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

  &:before {
    content: '';
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }

  @media(max-width: 767px) {
    min-height: 306px;
  }

  .container {
    color: #ffffff;
    z-index: 5000;
  }

}

.outlets {
  background-image: url("../img/lavki-bg.jpg");
}

.renters {
  background-image: url("../img/field.jpg");
}

.renters-page-content {
  padding-bottom: 50px;
}

.renters-slider {
  width: 550px;
  height: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;

  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background-color: $yellow;
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }

  @media(max-width: 991px) {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

.public-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;

  @media(max-width: 767px) {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;

    &:after {
      display: none;
    }
  }
}

.public-content {
  font-size: 16px;
  line-height: 26px;

  @media(max-width: 767px) {
    font-size: 14px;
    line-height: 24px;
  }
}


.page-content {
  display: flex;
  margin-bottom: 60px;

  @media(max-width: 991px) {
    flex-wrap: wrap;
  }

  .page-content-section-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 16px;

    @media( max-width: 767px ) {
      text-align: center;
    }
  }

  .item-img {
    position: relative;

    .options {
      position: absolute;
      right: 18px;
      top: 18px;
      width: 25px;

      a {
        max-width: 100%;
      }

    }
  }
}

.page-content-single-product {
  @media(max-width: 767px) {
    margin-bottom: 150px;
  }
}


.page-content-section-left {
  width: 175px;
  flex-shrink: 0;
  padding-right: 25px;

  @media(max-width: 991px) {
    width: 100%;
    margin-bottom: 60px;
  }

  .page-content-section-links {

    ul {
      padding: 0 10px 0 0;
      list-style: none;

      li {
        position: relative;
        padding-left: 15px;
        margin-bottom: 10px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 5px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $yellow;
        }

        a {
          font-size: 16px;
          transition: all .3s ease-in-out;
          word-wrap: break-word;

          &.active {
            color: $yellow;
          }

          &:hover {
            color: $yellow;
          }

        }
      }
    }
  }

}

.page-content-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;

  .item {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 47px;

    &:hover {
      .item-img {
        img {
          transform: scale(1.1);
        }
      }
    }

    @media( max-width: 767px ) {
      width: 100%;
    }

    .item-img {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        transition: all .3s ease-in-out;
        width: 100%;
      }
    }

    .item-content {
      padding: 20px 10px;

      .item-content-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 14px;
        font-weight: bolder;
      }

      .item-text {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 10px;
      }
    }

    .button {
      @media(max-width: 767px) {
        width: 100%;
      }
    }

  }

}

.page-content-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 0 44px;

  .single-card {
    width: 30%;
    margin: 0 1.66% 35px;

    .single-card-img {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;

      img {
        width: 100%;
      }
    }

    @media(max-width: 1199px) {
      width: 47%;
      margin: 0 1.5% 35px;
    }

    @media(max-width: 767px) {
      width: 100%;
      margin: 0 0 20px;
    }
  }
}

.page-content-section-right {
  width: calc(100% - 200px);

  @media(max-width: 991px) {
    width: 100%;
  }

}


.schemes {
  padding: 60px 0;


  .schemes-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @media(max-width: 991px) {
      flex-wrap: wrap;
    }
  }

  .scheme-block {
    width: 48%;

    @media(max-width: 991px) {
      width: 100%;

      &:first-child {
        margin-bottom: 40px;
      }
    }

    img {
      max-width: 100%;
      width: 100%;
    }
  }
}

.slider-images-section {
  margin-bottom: -65px;

  @media(max-width: 767px) {
    margin: 0;

    & + footer {
      margin-top: 0;
    }
  }

}

.slider-images {
  height: 380px;
  background-color: #000000;
  overflow: hidden;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
}

.cards {
  padding: 0 0 60px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    background-image: url("../img/cards.png");
    background-repeat: no-repeat;
    background-position: 14% 50%;
    background-size: 43%;

    @media(max-width: 991px) {
      flex-wrap: wrap;
      background-image: none;
    }
  }

  .cards-section {

    &:first-child {
      flex-shrink: 0;
      width: 40%;
      height: 100%;
    }

    @media(max-width: 991px) {
      width: 100%;
    }
  }

  .card-content {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;


    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .card-buttons {
    margin-left: -1%;
    margin-right: -1%;
    display: flex;

    @media( max-width: 991px ) {
      flex-wrap: wrap;
      flex-direction: column;
    }

    a {
      margin-right: 1%;
      margin-left: 1%;

      @media(max-width: 991px) {
        margin: 0 auto;
        display: block;

        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
  }
}


.advantages-card {
  background: url("../img/user-card-bg.png") no-repeat;

  .advantages-content-item {
    background-image: linear-gradient( to top, #e7e9e8, #fdfcfa);
  }

}


.work-card {
  padding: 80px 0;
  background-image: url("../img/card-work-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -40px;
  margin-bottom: -40px;
  padding-bottom: 160px;

  .container {
    padding: 0 30px;
  }

  .work-card-content {
    color: #ffffff;
    display: flex;
    justify-content: space-between;

    @media(max-width: 991px) {
      flex-wrap: wrap;
    }
  }

  .work-card-content-item-step {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    padding: 15px;
    font-family: 'Amatic SC', cursive;
    font-size: 120px;
    color: #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .work-card-content-item {
    width: 20%;
    text-align: center;

    @media(max-width: 991px) {
      width: 48%;
    }

    @media(max-width: 767px) {
      width: 100%;
      margin-bottom: 55px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .work-card-content-item-text {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 0 15px;
    font-size: 18px;
    line-height: 24px;
  }

}

.feedback-form {
  background: url("../img/feedback-form-bg.png") no-repeat 150px 200px, $yellow;
  background-size: contain;
  padding: 130px 0 160px;
  margin-top: -40px;
  margin-bottom: -60px;

  input[type="text"],
  input[type="email"] {
    color: #ffffff;
  }

  input[type="text"]::-moz-placeholder {
    color: #ffffff; /* Цвет подсказывающего текста */
  }
  input[type="text"]::-webkit-input-placeholder { color: #ffffff; }
  input[type="text"]:-ms-input-placeholder { color: #ffffff; }
  input[type="text"]::-ms-input-placeholder { color: #ffffff; }
  input[type="text"]::placeholder { color: #ffffff; }

  input[type="email"]::-moz-placeholder {
    color: #ffffff; /* Цвет подсказывающего текста */
  }
  input[type="email"]::-webkit-input-placeholder { color: #ffffff; }
  input[type="email"]:-ms-input-placeholder { color: #ffffff; }
  input[type="email"]::-ms-input-placeholder { color: #ffffff; }
  input[type="email"]::placeholder { color: #ffffff; }

  @media(max-width: 767px) {
    padding: 80px 0 130px;
  }

  .form {
    display: block;
    margin: 0 auto;
  }

}

.card-slider  {
  width: 50%;
  height: 405px;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  flex-shrink: 0;

  @media(max-width: 1199px) {
    width: 100%;
    margin-bottom: 25px;
  }
  @media(max-width: 767px) {
    height: auto;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    @media(max-width: 1199px) {
      display: flex;
      justify-content: center;
    }

    img {
      max-width: 100%;
      margin: auto;
    }
  }



}

.product-main-info {
  display: flex;

  @media(max-width: 1199px) {
    flex-wrap: wrap;
  }

  .button-card {
    @media(max-width: 767px) {
      width: 100%;
    }
  }

  .product-info-details-title {
    font-weight: bolder;
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddddd;
  }

  .product-info-details-price {
    font-weight: bolder;
    color: $yellow;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    span {
      color: $yellow;
    }
    .value-container {
      margin-right: 15px;

      .value {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        margin-right: 5px;
      }
    }

    .currency {
      font-family: 'Montserrat', sans-serif;
    }
  }

  .product-info-add-product-container {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #dddddd;
    display: flex;
  }
}

.product-info-details-characteristics {
  margin-bottom: 24px;

  span {
    font-weight: bold;
    display: inline-block;
    margin-right: 7px;
  }
}

.similar-product {
  padding-top: 50px;
  padding-bottom: 70px;
}

.slider-similar-products-container {
  position: relative;

  @media(max-width: 767px) {
    .container {
      width: 100%;
      max-width: 100%;
    }
  }
}

.swiper-button-prev-card,
.swiper-button-next-card
{
  position: absolute;
  top: 50%;
  height: 100px;
  width: 50px;
  z-index: 5000;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.4);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.swiper-button-disabled {
    background-color: rgba(0,0,0,0.1);
    cursor: default;
  }

  @media(max-width: 767px) {
    display: none;
  }
}

.swiper-button-prev-card {
  left: 5px;
}
.swiper-button-next-card {
  right: 5px;
}

.swiper-pagination-card {
  display: flex;
  justify-content: center;
  align-items: center;

  .swiper-pagination-bullet-active {
    background: $yellow;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: transparent;
  opacity: 1;
  border: 1px solid grey;
  margin: 0 3px;
  cursor: pointer;
}

.slider-similar-products {
  padding: 10px;
  overflow: hidden;
  margin-bottom: 35px;


  .swiper-slide {
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      width: 100%;
    }
  }
}

.counter {
  align-items: center;
  display: flex;
  font-weight: normal;

  &.counter-visible-desktop {
    @media(min-width: 768px) {
      display: flex!important;
    }
    @media(max-width: 767px) {
      display: none;
    }
  }
  &.counter-visible-mobile {
    @media(max-width: 767px) {
      display: flex;
    }
    @media(min-width: 768px) {
      display: none!important;
    }
  }

  div {
    margin-right: 15px;
  }

  .minus,
  .plus {
    font-weight: bold;
    color: #ffffff;
    background-color: $yellow;
    padding: 5px;
    font-size: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .value {
    min-width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: normal;
  }
}


.single-card {
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.4);

  .counter {
    .minus,
    .plus {
      width: 18px;
      height: 18px;
      font-size: 16px;
    }
  }
}

.single-card-info {
  padding: 15px;
}

.single-card-img {
  height: 215px;
  overflow: hidden;
  position: relative;

  img {
    transition: all .3s ease-in-out;
  }

  &:hover {
    &>img {
      transform: scale(1.1);
    }
  }

  .single-card-search {
    position: absolute;
    z-index: 5000;
    top: 15px;
    right: 5px;

    img {
      max-width: 100%;
      height: 70%;
    }
  }
}

.single-card-label {
  position: absolute;
  left: 0;
  top: 15px;
  z-index: 5000;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  font-family: 'Montserrat', sans-serif;

  &.hit {
    background-color: #0000ff;
  }

  &.discont {
    background-color: #ff0000;
  }

  &.new {
    background-color: #0ca400;
  }
}

.single-card-title {
  font-weight: bolder;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;


  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 500;
    width: 40px;
    transform: translateX(-50%);
    height: 2px;
    background-color: $yellow;
  }
}

.manufacturer {
  font-weight: bold;
  color: #737373;
  font-family: 'Montserrat', sans-serif;
}

.manufacturer-name {
  color: #737373;
  margin-bottom: 15px;

}

.price {
  font-weight: bolder;
  color: $yellow;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5px;

  span {
    color: inherit;
    font-weight: inherit;
    font-family: 'Montserrat', sans-serif;
  }

  .price-value {
    font-size: 30px;
    margin-right: 5px;
  }

  .currency {
    font-size: 16px;
  }
}

.counter-container {
  display: flex;
  justify-content: space-between;
}

.edge {
  .container {
    display: flex;
    justify-content: space-between;

    @media(max-width: 1199px) {
      flex-wrap: wrap;
    }
  }
  padding-bottom: 70px;
  @media(max-width: 767px) {
    margin-top: 70px;
  }
}

.edge-item {
  padding: 45px 24px 70px;
  box-shadow: 0 0 15px 3px rgba(0,0,0,0.1);
  width: 23%;
  transition: all .3s ease-in-out;

  @media(max-width: 1199px) {
    width: 48%;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media(max-width: 767px) {
    width: 100%;
    padding: 45px 50px 35px;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.edge-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 47px;
}

.edge-item-title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 34px;

  text-align: center;
}

.edge-item-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.delivery-info {
  margin-bottom: 80px;

  .container {
    display: flex;
    justify-content: space-between;

    @media(max-width: 1199px) {
      flex-wrap: wrap;
    }

    .delivery-info-item {
      width: 48%;

      @media(max-width: 1199px) {
        width: 100%;
        &:first-child {
          margin-bottom: 25px;
        }
      }

      .delivery-info-item-content {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 30px;

        b, p, span, div {
          font-family: 'Montserrat', sans-serif;
        }
      }

    }
  }
}

.sentence {
  margin-bottom: 90px;

  @media(max-width: 767px) {
    margin-bottom: 0;

    &+.feedback-form {
      margin-top: 0;
    }
  }

  .container {
    @media(max-width: 767px) {
      width: 100%;
    }
  }

}

.sentence-container {
  position: relative;
  transition: all .3s ease-in-out;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.sentence-container-bg {
    min-height: 600px;

    @media(max-width: 767px) {
      min-height: 700px;
    }

  }

  &>img {
    width: 100%;
    max-width: 100%;
  }

  .sentence-title {
    background-color: $yellow;
    color: #ffffff;
    font-size: 37px;
    line-height: 47px;
    font-family: 'Montserrat', sans-serif;
    padding: 18px 23px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bolder;

    @media(max-width: 767px) {
      font-size: 24px;
      line-height: 34px;
      width: 100%;
      text-align: center;
      padding: 10px 10%;
    }
  }

  .sentence-content {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 500;
    color: #ffffff;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.01));
  }

  .sentence-text {
    color: inherit;
    padding: 14px 35px 20px;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;

    @media(max-width: 767px) {
      padding: 10px 15% 40px;
    }
  }
}


.production {
  padding-bottom: 70px;

  @media(max-width: 767px) {
    padding-top: 50px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .production-item {
      width: 48%;
      transition: all .3s ease-in-out;
      margin-bottom: 55px;

      @media( max-width: 991px ) {
        width: 100%;
      }

      @media( max-width: 767px ) {
        .button {
          width: 100%;
        }
      }

      .production-item-img {
        margin-bottom: 37px;

        @media(max-width: 767px) {
          margin-bottom: 20px;
        }

        img {
          max-width: 100%;
          width: 100%;
        }
      }

      .production-title {
        text-transform: uppercase;
        font-weight: bolder;
        margin-bottom: 40px;
        font-size: 24px;
        line-height: 34px;
        font-family: 'Montserrat', sans-serif;

        @media(max-width: 767px) {
          margin-bottom: 20px;
          text-align: center;
        }

      }
    }
  }
}


.tiles {

  .container {
    display: flex;
    justify-content: space-between;

    @media( max-width: 991px ) {
      flex-wrap: wrap;
      padding-top: 55px;
    }
  }

  .tile-item {
    width: 32%;
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.1);
    transition: all .3s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }

    @media( max-width: 991px ) {
      width: 48%;
      margin-bottom: 25px;
    }

    @media(max-width: 767px) {
      width: 100%;
    }
  }

  .tile-img {
    img {
      max-width: 100%;
      width: 100%;
    }
  }

  .tile-title {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 34px;
  }
}


.modals {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 55000;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  overflow-y: auto;
  display: none;

  &.active {
    display: block;
  }

  .close {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -20px;
    top: -26px;
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}

.modal-content {
  background-color: #ffffff;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.call-back {
  width: 815px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;

  &.active {
    display: block;
  }

  .modal-content {
    display: flex;
    justify-content: space-between;
    padding: 35px;

    .modal-section {
      width: 48%;

      @media(max-width: 991px) {
        width: 100%;

        &:first-child {
          display: none;
        }
      }
    }

    .modal-section-img {
      position: relative;

      .modal-section-img-info {
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        background-color: #ffffff;
        padding: 10px 25px;
        width: 80%;

        .modal-section-img-info-title {
          text-align: center;
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 5px;
        }
        .modal-section-img-info-description {
          font-size: 16px;
          text-align: center;
        }
      }

      img {
        max-width: 100%;
      }
    }

    .modal-section-title {
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 30px;
    }

    input {
      border: 1px solid #8d8d8d;
      height: 49px;
      padding: 0 15px;
      margin-bottom: 23px;
      display: block;
      width: 100%;
      font-style: italic;
    }

    .button {
      width: 100%;
    }

    .modal-section-description {
      margin-top: 20px;
      font-size: 12px;
      line-height: 22px;
    }

    @media(max-width: 991px) {
      flex-wrap: wrap;
    }
  }
}


.order-modal {
  width: 815px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  display: none;
  margin-bottom: 200px;

  .link-thin {
    margin-bottom: 60px;
    display: block;

    @media(max-width: 767px) {
      margin-bottom: 25px;
    }
  }

  .modal-content {
    padding: 30px;
  }

  .product-information {
    display: flex;
    align-items: center;
    padding: 17px 0 20px;
    border-bottom: 1px solid grey;

    @media(max-width: 991px) {
      flex-wrap: wrap;
    }


    .product-information-section {
      display: flex;
      align-items: center;

      &:nth-of-type(2) {
        margin: 0 10px;

        @media(max-width: 991px) {
          width: 100%;
          margin-top: 10px;
          margin-bottom: 10px;
          justify-content: center;
        }
      }

      @media(max-width: 767px) {
        width: 100%;
        justify-content: space-between;
      }

      @media(max-width: 460px) {
        flex-wrap: wrap;
      }


    }

    .product-information-img {
      width: 75px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin-right: 15px;

      @media(max-width: 460px) {
        width: 100%;
        margin-bottom: 15px;
      }

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .product-information-name {
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    .product-information-address {
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      line-height: 24px;
    }

  }

  .product-information:first-child {
      border-top: 1px solid grey;
  }

  .product-information:last-child {
      margin-bottom: 25px;
  }

  .sum-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;

    @media(max-width: 767px) {
      flex-wrap: wrap;

      .sum-all-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }

  .button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    @media(max-width: 767px) {
      flex-wrap: wrap;

      button {
        width: 100%;

        &:first-child {
          margin-bottom: 15px;
        }
      }
    }
  }

  &.active {
    display: block;
  }

  .user-all-information {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;

    @media(max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  .user-all-information-section {
    width: 48%;

    @media(max-width: 767px) {
      width: 100%;

      &:first-child {
        margin-bottom: 20px;
      }
    }

    input[type='text'],
    input[tupe="email"],
    input[type="number"] {
      width: 100%;
      display: block;
      border: 1px solid $borderColor;
      height: 48px;
      padding-left: 20px;
      margin-bottom: 21px;
      font-style: italic;
    }
  }

  .input-group {
    display: flex;
    justify-content: space-between;

    @media(max-width: 767px) {
      flex-wrap: wrap;
    }

    input[type="text"],
    input[type='email'],
    input[type='number']{
      width: 48% !important;

      @media(max-width: 767px) {
        width: 100% !important;
      }
    }
  }

  .tabs {
    border: 1px solid $borderColor;
    margin-bottom: 15px;
  }

  .tab-links {
    display: flex;
    margin-bottom: 8px;

    @media(max-width: 460px) {
      flex-wrap: wrap;

    }

    a {
      padding: 12px 16px;
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      background-color: #8d8d8d;
      color: #ffffff;

      @media(max-width: 767px) {
        width: 100%;
      }

      &:last-child {
        flex-grow: 1;
      }

      &.active-tab {
        background-color: #ffffff;
        color: black;
      }
    }
  }

  .tab-content {
    padding: 0 15px 15px;

    .tab-content-item {
      display: none;

      &.active-tab {
        display: block;
      }
    }

    .tab-title {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 24px;
    }
  }

}

.modal {
  @media(max-width: 991px) {
    width: 80%;
  }
}

.tab-description {
  font-size: 12px;
  line-height: 16px;
  font-family: 'Montserrat', sans-serif;
  padding: 0 15px;
}

.choice-option {
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
}

.textarea-note {
  width: 100%;
  height: 111px;
  resize: none;
  padding: 15px 20px;
  font-style: italic;
  margin-bottom: 20px;
  border: 1px solid $borderColor;
}

.persons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title-payment {
  margin: 20px 0 15px;

  @media(max-width: 767px) {
    text-align: center;
  }
}

.options-payment {
  margin-bottom: 12px;

  &.options-payment-center-mobile {
    @media(max-width: 767px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media(max-width: 767px){
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }

  input[type='radio'] {
    margin-right: 5px;
  }

  input[type='text'],
  input[type='email'] {
    height: 49px;
    padding-left: 20px;
    width: 130px;
  }

  label {
    margin-right: 45px;
    cursor: pointer;

    @media(max-width: 767px) {
      width: 100%;
      margin-bottom: 15px;
    }
  }

}

.surrender {
  margin-right: 5px;
  margin-left: 5px;
}

.personal-data {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media(max-width: 767px) {
    margin-top: 30px;
    flex-wrap: wrap;

    .button {
      width: 100%;
    }
  }

  label {
    display: flex;
    align-items: center;
    cursor: pointer;

    @media (max-width:767px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

}

#agree {
  margin-right: 5px;
  width: 24px;
  height: 24px;

  &:checked {
    background-color: $yellow;
  }
}

.unit-price {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  margin: 0 15px;

  span {
    &:first-child {
      font-weight: bold;
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      flex-shrink: 0;
    }
    &:last-child {
      font-size: 12px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      flex-shrink: 0;
    }
  }

}

.sum,
.sum-all-section {
  span {
    &:first-child {
      font-weight: bold;
      font-size: 30px;
      font-family: 'Montserrat', sans-serif;
      flex-shrink: 0;
      color: $yellow;
    }
    &:last-child {
      font-size: 12px;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      flex-shrink: 0;
      color: $yellow;
    }
  }
}


// slider accordion
.slider-container.first-sample {
  width: 90%;
  height: 600px;
  margin: 0 auto;
  position: relative
}

.slider-container.first-sample .slider {
  height: 100%
}

.slider-container.first-sample .slider .slide-wrapper {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.slider-container.first-sample .slider .slide-tracker .my-fr-current .item::before {
  background-color: rgba(0, 0, 0, 0)
}

.slider-container.first-sample .slider .item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative
}

.slider-container.first-sample .slider .item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 1s
}

.slider-container.first-sample .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center
}

.slider-container.first-sample .prev-slide,
.slider-container.first-sample .next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  cursor: pointer;
  color: #888;
  transition: color .3s
}

.slider-container.first-sample .prev-slide:hover,
.slider-container.first-sample .next-slide:hover {
  color: #ccc
}

.slider-container.first-sample .prev-slide {
  left: -70px
}

.slider-container.first-sample .next-slide {
  right: -70px
}

.site-filter {
  
  .filter-title {
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d4d4d4;
    position: relative;

    //&:after {
    //  content: '';
    //  position: absolute;
    //  right: 0;
    //  top: 7px;
    //  width: 0;
    //  height: 0;
    //  border: 6px solid transparent;
    //  border-top: 6px solid $yellow;
    //}

    .filter-marker {
      position: absolute;
      right: 0;
      top: 7px;
      display: block;
      width: 6px;
      height: 6px;
      border: 6px solid transparent;
      border-top: 6px solid $yellow;
      transition: all .3s ease-in-out;
      transform-origin: 50% 20%;

      &.opened {
        transform: rotate(180deg);
      }
    }
  }

  .site-filter-block-list {
    display: none;
  }

  .site-filter-block {
    margin-bottom: 25px;
  }

  .site-filter-block-list-item {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    transition: all .3s ease-in-out;

    &:hover {
      color: $yellow;
    }

    &.active {
      color: $yellow;
    }
  }

}

.get-us {
  padding: 62px 0 80px;
}

.get-us-content {
  font-size: 16px;
}

.requisites {
  padding: 67px 0px 130px;

  .container {
    display: flex;
    justify-content: space-between;

    @media(max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  .requisites-section {
    width: 50%;

    @media(max-width: 767px) {
      width: 100%;
      margin-bottom: 25px;
    }
  }

  .requisites-content-block {
    &:first-child {
      margin-bottom: 46px;
    }
  }
}


$a-height: 600px;

// Position text along bottom
$text-offset: $a-height - 90;

// Page Title
h1 {

  text-align:center;
  font-family:Montserrat,sans-serif;
  color:#333;

}

.accordion-vertical {

  width:100%;
  max-width: 100%;
  height:$a-height;
  overflow:hidden;
  margin:-50px auto;
  min-height: 609px;

  ul {

    width:100%;
    display:table;
    table-layout:fixed;
    margin:0;
    padding:0;

    li {

      display:table-cell;
      vertical-align:bottom;
      position: relative;
      width:5%; // 6 into 100
      height:$a-height;

      background-repeat:no-repeat;
      background-position:center center;

      transition:all 500ms ease;

      div.img-container {

        display:block;
        overflow:hidden;
        width:100%;
        position: relative;
        z-index: 500;

        a {

          display:flex;
          justify-content: center;
          align-content: center;
          height:$a-height;
          width:100%;
          position:relative;
          z-index:3;
          vertical-align:bottom;
          box-sizing:border-box;
          color:#fff;
          text-decoration:none;
          font-family:Open Sans, sans-serif;

          transition:all 200ms ease;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 600;
            background-color: rgba(0,0,0,0.6);
          }

          img {
            flex-shrink: 0;
          }

          h2 {

            font-family:Montserrat,sans-serif;
            text-overflow:clip;
            font-size:24px;
            text-transform:uppercase;
            margin-bottom:2px;

            top:$text-offset;

          }

          p {

            top:$text-offset;
            font-size:13.5px;

          }

        }

      }

    }

    //&:hover li,
    //&:focus-within li { width:8%; }
    //
    //
    li.active {
      width: 10%;

      @media(max-width: 1199px) {
        width: 20%;
      }

      .img-container  {
        a:before {
          background-color: transparent;
        }
      }

      .participants-slider-info {
        visibility: visible;
        opacity: 1;
      }
    }

    li:focus {
      outline: none;
    }

    //&:hover li:hover,
    //li:focus,
    //&:focus-within li:focus {
    //  width:20%;
    //
    //  @media(max-width: 991px) {
    //    width: 70%;
    //  }
    //
    //  div.img-container  {
    //    a:before {
    //      background-color: transparent;
    //    }
    //  }
    //
    //  .participants-slider-info {
    //    visibility: visible;
    //    opacity: 1;
    //  }
    //}
    //
    //&:hover li:hover {
    //  width:20% !important;
    //
    //  div.img-container {
    //    a:before {
    //      background-color: transparent;
    //    }
    //  }
    //
    //  .participants-slider-info {
    //    visibility: visible;
    //    opacity: 1;
    //  }
    //}

    //@media(max-width: 1199px) {
    //  &:hover li:hover {
    //    width: 50% !important;
    //  }
    //
    //  &:hover li:hover,
    //  li:focus,
    //  &:focus-within li:focus {
    //    width: 50% !important;
    //  }
    //}
  }
}

//.accordion-vertical ul li:hover div.img-container a:before {
//  background-color: transparent!important;
//}

// Stack items
@media screen and (max-width: 600px) {

  // IE gets fussy if this isn't here
  body { margin:0; }

  .accordion {

    height:auto;

    ul,ul:hover {

      li,li:hover {

        position:relative;
        display:table;
        table-layout:fixed;
        width:100%;

        -webkit-transition:none;
        transition:none;

      }

    }

  }

}

.about {

  text-align:center;
  font-family:'Open Sans', sans-serif;
  font-size:12px;
  color:#666;

  a {

    color:blue;
    text-decoration:none;

    &:hover { text-decoration:underline; }

  }

}























